/* THEME 8B
====================================================================*/
/* by james.augustavo */
/* FONT EMBEDDING
====================================================================*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/* font-family: "Droid Serif", serif; */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* font-family: "Lato", sans-serif;*/
/*BACK TO TOP
===================================================================*/
/* line 16, ../scss/342240-hines.scss */
.back-to-top {
  /* adjust color to match branding */
  background: #cfaf69;
  background: rgba(207, 175, 105, 0.75);
  padding: 5px 15px;
  text-decoration: none;
  text-transform: none;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 999;
  display: none;
  border-radius: 0;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

/* line 36, ../scss/342240-hines.scss */
.back-to-top i {
  font-size: 1.500em;
  color: #fff;
}

/* line 40, ../scss/342240-hines.scss */
.back-to-top:hover, .back-to-top:active, .back-to-top:focus {
  /* adjust color to match branding */
  background: #dbc490;
  background: rgba(219, 196, 144, 0.75);
  text-decoration: none;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

/* BASE STYLES
====================================================================*/
/* line 55, ../scss/342240-hines.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 65, ../scss/342240-hines.scss */
body {
  background: #231f20 none;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  overflow: hidden;
  -ms-overflow-style: scrollbar;
}

/* line 73, ../scss/342240-hines.scss */
p, li, div, td, section {
  font-family: "Lato", sans-serif;
  font-size: medium;
  color: #71747A;
}

/* line 78, ../scss/342240-hines.scss */
p {
  margin-bottom: 15px;
}

/* line 81, ../scss/342240-hines.scss */
a {
  font-family: "Lato", sans-serif;
  font-size: medium;
  outline: 0;
  color: #000;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 94, ../scss/342240-hines.scss */
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #c39a42;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 103, ../scss/342240-hines.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  text-transform: none;
  color: #c39a42;
  line-height: 1.1;
}

/* line 110, ../scss/342240-hines.scss */
h4, h5, h6 {
  margin-top: 0;
}

/* line 113, ../scss/342240-hines.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: none;
  color: #000;
}

/* line 119, ../scss/342240-hines.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  text-decoration: none;
  color: #c39a42;
}

/* line 123, ../scss/342240-hines.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 130, ../scss/342240-hines.scss */
#fancybox-wrap, #fancybox-outer, #fancybox-content {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -ms-box-sizing: content-box !important;
  -o-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

/* line 137, ../scss/342240-hines.scss */
.container {
  width: 100%;
  padding: 0;
}

/* line 141, ../scss/342240-hines.scss */
#content {
  background: #D7DAE0;
  min-height: 0;
}

/* line 145, ../scss/342240-hines.scss */
#content .container {
  background: #fff;
  padding: 40px 0;
}

/* line 149, ../scss/342240-hines.scss */
#content .container article, #content .container aside {
  margin: 0;
  padding: 0;
}

/* line 153, ../scss/342240-hines.scss */
#content .container article .rule, #content .container aside .rule {
  background: #F1F4FA none;
  width: 100%;
  height: 1px;
  margin: 40px 0;
}

/* line 159, ../scss/342240-hines.scss */
#content .container article h2 {
  margin-top: 0;
}

/* line 162, ../scss/342240-hines.scss */
#content .container article h3 {
  margin: 30px 0 10px 0;
}

/* line 165, ../scss/342240-hines.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* line 169, ../scss/342240-hines.scss */
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

/* line 173, ../scss/342240-hines.scss */
#content .container article {
  margin-bottom: 60px;
}

/* HEADER
===================================================================*/
/* line 179, ../scss/342240-hines.scss */
header {
  background: #fff none;
  width: 100%;
  height: auto;
  margin: 60px 0 0 0;
  padding: 40px 0;
}

/* line 186, ../scss/342240-hines.scss */
header .container {
  background: none;
  height: 100%;
  padding: 0 30px;
  text-align: center;
}

/* line 192, ../scss/342240-hines.scss */
header .header-logo {
  margin: 0 0 20px 0;
  position: relative;
  z-index: 2;
}

/* line 197, ../scss/342240-hines.scss */
header .header-logo img {
  width: 100%;
  max-width: 300px;
}

/* line 201, ../scss/342240-hines.scss */
.ie8 header .header-logo img {
  max-height: 100px;
}

/* line 204, ../scss/342240-hines.scss */
header .header-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
  padding: 11px 0;
  text-align: center;
  color: #fff;
}

/* line 213, ../scss/342240-hines.scss */
header .header-social a i {
  margin: 0;
  font-size: 1.200em;
  vertical-align: top;
}

/* line 218, ../scss/342240-hines.scss */
header .header-social .facebook {
  background: #00549E;
}

/* line 221, ../scss/342240-hines.scss */
header .header-social .twitter {
  background: #2CAAE1;
}

/* line 224, ../scss/342240-hines.scss */
header .header-social .linkedin {
  background: #007FB1;
  margin: 0;
}

/* line 228, ../scss/342240-hines.scss */
header .header-social .facebook:hover, header .header-social .facebook:active, header .header-social .facebook:focus {
  background: #006fd1;
}

/* line 231, ../scss/342240-hines.scss */
header .header-social .twitter:hover, header .header-social .twitter:active, header .header-social .twitter:focus {
  background: #59bce7;
}

/* line 234, ../scss/342240-hines.scss */
header .header-social .linkedin:hover, header .header-social .linkedin:active, header .header-social .linkedin:focus {
  background: #00a4e4;
}

/* NAVIGATION
===================================================================*/
/* line 240, ../scss/342240-hines.scss */
nav#main #homeButton {
  display: none;
}

/* line 243, ../scss/342240-hines.scss */
nav#main {
  background: #231f20;
  height: 60px;
}
@media (max-width: 992px) {
  /* line 243, ../scss/342240-hines.scss */
  nav#main {
    background: #3c2313;
  }
}

/* line 251, ../scss/342240-hines.scss */
nav#main .container {
  background: none;
  padding: 0;
  text-align: left;
}

/* line 256, ../scss/342240-hines.scss */
nav#main .container ul li {
  background: none;
  margin: 0;
  margin: 0;
  padding: 0;
}

/* line 262, ../scss/342240-hines.scss */
nav#main .container ul li.first {
  padding-top: 0;
}

/* line 265, ../scss/342240-hines.scss */
nav#main .container ul li.last {
  padding-bottom: 0;
}

/* line 268, ../scss/342240-hines.scss */
nav#main .container ul li a {
  display: block;
  background: none;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* line 276, ../scss/342240-hines.scss */
nav#main .container ul li:hover a, nav#main .container ul li a:active, nav#main .container ul li a:focus {
  background: #c39a42;
  color: #fff;
}

/* line 280, ../scss/342240-hines.scss */
nav#main .container ul li a.selected {
  background: #9f7d33;
  color: #fff;
}

/* line 284, ../scss/342240-hines.scss */
nav#main .container ul li a i {
  font-size: large;
}

/* line 287, ../scss/342240-hines.scss */
nav#main .container ul li .dropdown-toggle {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 293, ../scss/342240-hines.scss */
nav#main .container ul li .dropdown-toggle i {
  font-size: 1.750em;
}

/* line 296, ../scss/342240-hines.scss */
nav#main .container ul li .dropdown-toggle:active, nav#main .container ul li .dropdown-toggle:focus, nav#main .container ul li .dropdown-toggle.selected {
  background: none;
}

/* line 299, ../scss/342240-hines.scss */
nav#main .container ul li.open .dropdown-toggle {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 306, ../scss/342240-hines.scss */
nav#main .container ul li:hover .dropdown-toggle, nav#main .container ul li .dropdown-toggle:hover {
  background: none;
}

/* line 309, ../scss/342240-hines.scss */
nav#main .container ul .dropdown.open .dropdown-text {
  border-bottom: solid 1px transparent;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

/* line 317, ../scss/342240-hines.scss */
.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  top: 0;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* line 329, ../scss/342240-hines.scss */
.navbar.nav-up {
  top: -60px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 337, ../scss/342240-hines.scss */
.navbar-header, .offcanvas {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 341, ../scss/342240-hines.scss */
.navbar-header {
  height: 60px;
}

/* START NAV TOGGLE */
/* line 346, ../scss/342240-hines.scss */
.navbar-toggle {
  background: #3c2313 !important;
  width: 120px;
  height: 60px;
  margin: 0;
  padding: 13px 18px;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 358, ../scss/342240-hines.scss */
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background: #3c2313 !important;
}

/* line 361, ../scss/342240-hines.scss */
.navbar-toggle .text {
  display: block;
  float: left;
  margin: -1px 0 0 0;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

/* line 370, ../scss/342240-hines.scss */
.navbar-toggle .icon-bar {
  background-color: #fff !important;
  width: 20px;
  margin-left: 60px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 380, ../scss/342240-hines.scss */
.nav-expanded .navbar-toggle .center {
  background: none !important;
}

/* line 383, ../scss/342240-hines.scss */
.nav-expanded .navbar-toggle .top {
  -webkit-transform: rotate(45deg) translate(3px, 6px);
  -moz-transform: rotate(45deg) translate(3px, 6px);
  -ms-transform: rotate(45deg) translate(3px, 5px);
  -o-transform: rotate(45deg) translate(3px, 5px);
  transform: rotate(45deg) translate(3px, 5px);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 395, ../scss/342240-hines.scss */
.nav-expanded .navbar-toggle .bottom {
  -webkit-transform: rotate(-45deg) translate(3px, -6px);
  -moz-transform: rotate(-45deg) translate(3px, -6px);
  -ms-transform: rotate(-45deg) translate(3px, -6px);
  -o-transform: rotate(-45deg) translate(3px, -6px);
  transform: rotate(-45deg) translate(3px, -6px);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* END NAV TOGGLE */
/* START OFF CANVAS */
/* line 410, ../scss/342240-hines.scss */
.nav-expanded {
  overflow: hidden !important;
}

/* line 413, ../scss/342240-hines.scss */
.off-canvas {
  background: #3c2313;
  background: rgba(60, 35, 19, 0.95);
  width: 100%;
  height: 100%;
  padding: 0 0 60px 0;
  border: none;
  overflow: auto;
  position: fixed;
  top: 60px;
  right: -100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 430, ../scss/342240-hines.scss */
.nav-expanded .off-canvas {
  right: 0;
}

/* line 433, ../scss/342240-hines.scss */
.off-canvas .navbar-nav {
  background: none;
  height: auto;
  margin: 0;
}

/* line 438, ../scss/342240-hines.scss */
.off-canvas .navbar-nav li {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 443, ../scss/342240-hines.scss */
.off-canvas .navbar-nav li a {
  height: 80px;
  padding: 30px 20px;
}

/* line 447, ../scss/342240-hines.scss */
.off-canvas .navbar-nav li a, .off-canvas .navbar-nav li a:hover, .off-canvas .navbar-nav li a:active, .off-canvas .navbar-nav li a:focus {
  text-decoration: none;
}

/* line 450, ../scss/342240-hines.scss */
.off-canvas .navbar-nav li .dropdown-toggle {
  width: auto;
  height: auto;
  padding: 24px;
}

/* END OFF CANVAS */
/* START DROP DOWN*/
/* line 458, ../scss/342240-hines.scss */
nav#main .container ul li .dropdown-menu {
  background: #6F5646;
  background: rgba(111, 86, 70, 0.5);
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent inset;
  -moz-box-shadow: 0 0 0 transparent inset;
  -ms-box-shadow: 0 0 0 transparent inset;
  -o-box-shadow: 0 0 0 transparent inset;
  box-shadow: 0 0 0 transparent inset;
}

/* line 472, ../scss/342240-hines.scss */
nav#main .container ul li:hover .dropdown-menu {
  background: #6F5646;
  background: rgba(111, 86, 70, 0.5);
  left: 0;
}

/* line 477, ../scss/342240-hines.scss */
nav#main .container ul li .dropdown-menu li a {
  height: 60px;
  padding: 20px 15px 20px 30px !important;
  font-size: 1em;
  text-transform: none;
}

/* line 483, ../scss/342240-hines.scss */
nav#main .container ul li:hover .dropdown-menu li a {
  background: none;
  color: #fff;
}

/* line 487, ../scss/342240-hines.scss */
nav#main .container ul li:hover .dropdown-menu li a:hover, nav#main .container ul li:hover .dropdown-menu li a:active, nav#main .container ul li:hover .dropdown-menu li a:focus {
  background: #c39a42;
  color: #fff;
}

/* line 491, ../scss/342240-hines.scss */
nav#main .container ul li:hover .dropdown-menu li a.selected {
  background: #9f7d33;
  color: #fff;
}

/* line 495, ../scss/342240-hines.scss */
nav#main .container ul li a.selected + .dropdown-toggle {
  color: #fff;
}

/* line 498, ../scss/342240-hines.scss */
.dropdown-menu > li > a {
  white-space: normal;
}

/* for IE8 and IE9 - match .dropdown-menu li a:hover */
/* line 503, ../scss/342240-hines.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr=" ff417D64 ", endColorstr=" ff417D64 ", GradientType=0)";
}

/* line 506, ../scss/342240-hines.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr=" ff417D64 ", endColorstr=" ff417D64 ", GradientType=0)";
}

/* END DROP DOWN*/
/* HERO
===================================================================*/
/* set rotator overrides here */
/* line 514, ../scss/342240-hines.scss */
#hero #hero1 img {
  background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/hero01.jpg) no-repeat 50% 100% !important;
}

/* line 517, ../scss/342240-hines.scss */
#hero #hero2 img {
  background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/hero02.jpg) no-repeat 50% 100% !important;
}

/* line 520, ../scss/342240-hines.scss */
#hero #hero3 img {
  background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/hero03.jpg) no-repeat 50% 100% !important;
}

/* line 523, ../scss/342240-hines.scss */
#hero #hero1 img, #hero #hero2 img, #hero #hero3 img {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* line 530, ../scss/342240-hines.scss */
#hero .hero {
  width: 100%;
  height: 275px;
}

/* line 534, ../scss/342240-hines.scss */
#hero .container .backArrow, #hero .container .forwardArrow, #hero .container aside, #hero .container .wrapper .short, #hero .container .wrapper h2 + hr + p, #hero .container .wrapper p a + a {
  display: none;
}

/* line 537, ../scss/342240-hines.scss */
#hero {
  background: #d7dae0 none;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 543, ../scss/342240-hines.scss */
#hero .container {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* line 548, ../scss/342240-hines.scss */
#hero .container .wrapper {
  background: #3c2313;
  background: rgba(60, 35, 19, 0.7);
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 560, ../scss/342240-hines.scss */
#hero .container .wrapper h2 {
  display: inline-block;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 1.750em;
  font-weight: 300;
  text-transform: none;
  color: #fff;
  vertical-align: top;
}

/* line 571, ../scss/342240-hines.scss */
#hero .container .wrapper p + p {
  display: block;
  margin: 15px 0 0 0;
}

/* line 575, ../scss/342240-hines.scss */
#hero .container .wrapper p a {
  display: inline-block;
  font-size: 1.250em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 1;
  vertical-align: top;
}

/* line 585, ../scss/342240-hines.scss */
#hero .container .wrapper p a:hover, #hero .container .wrapper p a:active, #hero .container .wrapper p a:focus {
  text-decoration: underline;
}

/* HOMEPAGE
===================================================================*/
/* line 591, ../scss/342240-hines.scss */
.homepage #agentPhoto, .homepage #content .container article .rule, .homepage #suggested, .homepage #additional {
  display: none;
}

/* line 594, ../scss/342240-hines.scss */
.short {
  background: #71747A;
  width: 200px;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* line 601, ../scss/342240-hines.scss */
.ie8 .short {
  display: none;
}

/* line 604, ../scss/342240-hines.scss */
.homepage .one {
  margin-bottom: 40px;
}

/* line 607, ../scss/342240-hines.scss */
.homepage .one .welcome {
  margin: 0;
  padding: 30px;
}

/* line 612, ../scss/342240-hines.scss */
.homepage .one .welcome h2 {
  font-size: 1.650em;
}

/* line 615, ../scss/342240-hines.scss */
.homepage .one .welcome .last {
  margin-bottom: 30px;
}

/* line 632, ../scss/342240-hines.scss */
.homepage .two {
  margin-bottom: 40px;
}

/* line 635, ../scss/342240-hines.scss */
.homepage .two .box-sm {
  background: #c39a42;
  margin: 0 0 20px 0;
  padding: 30px;
  position: relative;
}

/* line 641, ../scss/342240-hines.scss */
.homepage .two .right {
  margin-bottom: 0;
}

/* line 644, ../scss/342240-hines.scss */
.homepage .two .box-sm h2, .homepage .two .box-sm p, .homepage .two .box-sm a {
  color: #fff;
}

/* line 647, ../scss/342240-hines.scss */
.homepage .two .box-sm h2 {
  margin: 0 0 20px 0;
  font-size: 1.550em;
}

/* line 651, ../scss/342240-hines.scss */
.homepage .two .box-sm p {
  margin: 0 0 40px 0;
}

/* line 654, ../scss/342240-hines.scss */
.homepage .two .box-sm a {
  display: inline-block;
  background: #c39a42;
  width: 160px;
  height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5;
  border-left: solid 20px #c39a42;
}

/* line 665, ../scss/342240-hines.scss */
.homepage .three .box-md {
  float: none;
  background: #c39a42;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

/* line 677, ../scss/342240-hines.scss */
.homepage .three .col-xs-6 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 682, ../scss/342240-hines.scss */
.homepage .three .box-md img {
  width: 100%;
  max-width: 600px;
  opacity: 0.6;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 693, ../scss/342240-hines.scss */
.homepage .three .box-md .text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

/* line 700, ../scss/342240-hines.scss */
.homepage .three .box-md .text h2 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}

/* line 708, ../scss/342240-hines.scss */
.ie8 .homepage .three .box-md .text h2 {
  background: #81BDA3;
}

/* line 711, ../scss/342240-hines.scss */
.homepage .three .box-md .text a {
  display: block;
  background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/blank.png) 0 0 repeat;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-indent: 200%;
  white-space: nowrap;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* line 725, ../scss/342240-hines.scss */
.homepage #content .container {
  padding-bottom: 0;
}

/* line 728, ../scss/342240-hines.scss */
.homepage #content .container article {
  margin-bottom: 0;
}

/* SUBPAGES
===================================================================*/
/* line 734, ../scss/342240-hines.scss */
.subpage #content .container {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 738, ../scss/342240-hines.scss */
.subpage #content .container article {
  margin-bottom: 60px;
}

/* line 741, ../scss/342240-hines.scss */
.subpage #content .container article h1 {
  margin: 0;
  font-size: xx-large;
}

/* line 745, ../scss/342240-hines.scss */
.subpage .short {
  margin-bottom: 30px;
}

/* line 748, ../scss/342240-hines.scss */
.ie8 .subpage .short {
  display: none;
}

/* line 751, ../scss/342240-hines.scss */
.subpage #content .container article h2 {
  margin-top: 20px;
  font-size: x-large;
}

/* line 755, ../scss/342240-hines.scss */
.page-blog .post {
  line-height: 1.5;
}

/* line 758, ../scss/342240-hines.scss */
.page-team #teamContent .info a img {
  margin-bottom: 20px;
}

/* line 761, ../scss/342240-hines.scss */
.page-team #teamContent .info a img:hover {
  opacity: 0.9;
}

/* line 764, ../scss/342240-hines.scss */
.page-team #teamContent .principal .info, .page-team #teamContent .agent .info {
  float: left;
  width: 100%;
}

/* line 768, ../scss/342240-hines.scss */
.page-team #teamContent .principal .info a img, .page-team #teamContent .agent .info a img {
  margin-right: 100%;
}

/* line 771, ../scss/342240-hines.scss */
.page-team #teamContent .principal .info h4, .page-team #teamContent .principal .info p, .page-team #teamContent .agent .info h4, .page-team #teamContent .agent .info p {
  margin-left: 0;
}

/* line 774, ../scss/342240-hines.scss */
.page-team #teamContent .principal .team-description, .page-team #teamContent .agent .team-description {
  margin-left: 0;
}

/* line 777, ../scss/342240-hines.scss */
.subpage #agentContent img {
  float: none;
  margin-left: 0;
}

/* line 781, ../scss/342240-hines.scss */
.page-events #eventContent .event {
  overflow: hidden;
}

/* line 784, ../scss/342240-hines.scss */
.page-events #eventContent .event .description, #eventContent .description {
  float: left;
  clear: left;
  margin: 0;
}

/* line 789, ../scss/342240-hines.scss */
.page-events #eventContent .event .description h3 {
  margin-top: 0;
}

/* line 792, ../scss/342240-hines.scss */
.page-tools-glossary #glossaryContent p:first-child a {
  display: inline-block;
  width: 5%;
}

/* line 796, ../scss/342240-hines.scss */
.page-tools-glossary #glossaryContent h3 {
  font-size: 1.250em;
  font-weight: 400;
}

/* line 800, ../scss/342240-hines.scss */
.page-tools-glossary #glossaryContent h3 a {
  font-family: "Droid Serif", serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
  color: #c39a42;
}

/* line 807, ../scss/342240-hines.scss */
.subpage #content .container article #learningContent .matter {
  width: 100%;
  margin: 0;
}

/* line 811, ../scss/342240-hines.scss */
.page-contact .map-canvas {
  float: none;
  width: 100%;
  margin: 0 0 30px 0;
}

/* line 816, ../scss/342240-hines.scss */
.page-contact #content .socialMedia {
  display: none;
}

/* line 819, ../scss/342240-hines.scss */
.slideText p {
  color: #fff;
}

/* RESOURCES
===================================================================*/
/* line 825, ../scss/342240-hines.scss */
.page-resource-center #content article h2 a {
  font-size: 0.900em;
}

/* line 828, ../scss/342240-hines.scss */
#content .container article #matterContent .featured a img {
  float: left;
  width: 280px;
  margin: 0 0 20px 0;
}

/* line 833, ../scss/342240-hines.scss */
#content .container article #matterContent .featured h2 {
  clear: left;
}

/* line 836, ../scss/342240-hines.scss */
#content .container article #matterContent .featured h2 a {
  font-size: x-large;
}

/* line 839, ../scss/342240-hines.scss */
#content .container article #suggested .content a:hover img, #content .container article #allVideoContent .videoContent a:hover img {
  opacity: 0.9;
}

/* line 842, ../scss/342240-hines.scss */
#content .container article #suggested .content h3, .subpage #allVideoContent .videoContent h3 {
  margin-top: 0;
}

/* line 845, ../scss/342240-hines.scss */
#content .container article #suggested {
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 849, ../scss/342240-hines.scss */
#content .container article #suggested h2 {
  margin: 0 0 20px 0;
  font-size: x-large;
}

/* line 853, ../scss/342240-hines.scss */
#content .container article #suggested .content {
  float: none;
  width: 100%;
  margin: 0;
  padding: 0 0 30px 0;
  overflow: hidden;
}

/* line 860, ../scss/342240-hines.scss */
#content .container article #suggested .content a img {
  float: left;
  background-size: 100px 76px;
  width: 100px;
  height: 76px;
  margin: 0 15px 0 0;
}

/* line 867, ../scss/342240-hines.scss */
#content .container article #suggested .content h3 {
  margin-bottom: 10px;
}

/* line 870, ../scss/342240-hines.scss */
#content .container article #suggested .content h3 a {
  font-size: large;
}

/* line 873, ../scss/342240-hines.scss */
#content .container article #suggested .content p {
  margin: 0 0 0 115px;
  font-size: medium;
}

/* line 877, ../scss/342240-hines.scss */
#content .container article #additional {
  background: none;
}

/* line 880, ../scss/342240-hines.scss */
#content .container article #additional .wrapper {
  padding: 0;
  overflow: hidden;
}

/* line 884, ../scss/342240-hines.scss */
#content .container article #additional .wrapper nav {
  background: none;
  width: 100%;
  margin-bottom: 30px;
}

/* line 889, ../scss/342240-hines.scss */
#content .container article #additional .wrapper nav ul {
  margin: 0;
  padding: 0;
}

/* line 893, ../scss/342240-hines.scss */
#content .container article #additional .wrapper nav ul li {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: none;
}

/* line 900, ../scss/342240-hines.scss */
#content .container article #additional .wrapper nav ul li a {
  display: block;
  background: #c39a42;
  margin: 0 0 5px 0;
  padding: 10px 20px;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* line 910, ../scss/342240-hines.scss */
#content .container article #additional .wrapper nav ul li a:hover, #content .container article #additional .wrapper nav ul li a:active, #content .container article #additional .wrapper nav ul li a:focus, #content .container article #additional .wrapper nav ul li a.selected {
  background: #cfaf69;
  text-decoration: none;
  color: #fff;
}

/* line 915, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .content {
  width: 100%;
  margin: 0 0 5px 0;
}

/* line 919, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .content h4 a {
  font-size: medium;
  color: #000;
}

/* line 923, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .content h4 a:hover, #content .container article #additional .wrapper .matterContent .content h4 a:active, #content .container article #additional .wrapper .matterContent .content h4 a:focus {
  color: #c39a42;
  text-decoration: none;
}

/* line 927, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent p {
  font-size: small;
  color: #71747A;
}

/* line 931, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .viewAll {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}

/* line 936, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .viewAll a {
  display: inline-block;
  background: #c39a42;
  margin: 0 0 0 0;
  padding: 10px 20px;
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* line 946, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .viewAll a:hover, #content .container article #additional .wrapper .matterContent .viewAll a:active, #content .container article #additional .wrapper .matterContent .viewAll a:focus {
  background: #cfaf69;
  text-decoration: none;
  color: #fff;
}

/* line 951, ../scss/342240-hines.scss */
#content .container article #additional .wrapper .matterContent .viewAll a + a {
  display: none;
}

/* line 954, ../scss/342240-hines.scss */
#content .container article .flagBody {
  background: #c39a42;
  font-size: 1em;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 966, ../scss/342240-hines.scss */
#content .container article .flagBody:hover, #content .container article .flagBody:active, #content .container article .flagBody:focus {
  background: #cfaf69;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 974, ../scss/342240-hines.scss */
#content .container article #allVideoContent .videoContent {
  width: 100%;
  margin: 0;
  padding-bottom: 40px;
}

/* line 979, ../scss/342240-hines.scss */
#content .container article #allVideoContent .videoContent a img {
  float: left;
  background-size: 100px 76px;
  width: 100px;
  height: 76px;
  margin: 0 20px 0 0;
}

/* line 986, ../scss/342240-hines.scss */
#content .container article #allVideoContent .videoContent h3, #content .container article #allVideoContent .videoContent p {
  margin-left: 120px;
}

/* line 989, ../scss/342240-hines.scss */
#content .container article #allVideoContent .videoContent p {
  margin-bottom: 0;
}

/* line 992, ../scss/342240-hines.scss */
#content .container article #presentationShell h2 {
  width: 100%;
  max-width: 630px;
}

/* line 996, ../scss/342240-hines.scss */
#content .container article #presentationShell img {
  width: 100%;
  max-width: 610px;
  margin-left: 0;
}

/* line 1001, ../scss/342240-hines.scss */
#content .container article #allTypeContent .matter {
  width: 100%;
  margin-right: 0;
}

/* line 1005, ../scss/342240-hines.scss */
#articleContent img {
  float: none;
  height: auto;
  max-width: 100%;
}

/* line 1010, ../scss/342240-hines.scss */
#articleContent .tip, #articleContent .fastFact {
  display: none;
}

/* line 1013, ../scss/342240-hines.scss */
.focusBox {
  width: auto;
  margin: 0;
}

/* SIDEBAR
===================================================================*/
/* line 1020, ../scss/342240-hines.scss */
#content .container aside section {
  width: 100%;
  margin: 0 auto 40px;
}

/* line 1024, ../scss/342240-hines.scss */
#content .container aside section:last-child {
  margin-bottom: 0;
}

/* line 1027, ../scss/342240-hines.scss */
#content .container aside section .wrapper {
  margin: 0;
  padding: 0;
}

/* line 1031, ../scss/342240-hines.scss */
#content .container aside section h2 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: x-large;
}

/* line 1036, ../scss/342240-hines.scss */
#content .container aside section p {
  font-size: small;
}

/* line 1039, ../scss/342240-hines.scss */
#content .container aside section label {
  float: left;
  font-weight: 400;
  font-size: small;
}

/* line 1044, ../scss/342240-hines.scss */
#content .container aside section input, #content .container aside section textarea {
  width: 100%;
  margin: 0 0 15px 0;
}

/* line 1048, ../scss/342240-hines.scss */
#content .container aside section .submit {
  background: #c39a42;
  width: 100%;
  height: auto;
  margin: 5px 0 0 0;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 1065, ../scss/342240-hines.scss */
#content .container aside section .submit:hover, #content .container aside section .submit:active, #content .container aside section .submit:focus {
  background: #cfaf69;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 1074, ../scss/342240-hines.scss */
#content .container aside form p:last-child {
  margin: 0;
}

/* line 1077, ../scss/342240-hines.scss */
.market .firstIndexName {
  font-size: large;
}

/* FOOTER
===================================================================*/
/* TEMP HIDE FOR SANDBOX */
/* line 1084, ../scss/342240-hines.scss */
footer .globalCopyright + p {
  display: none;
}

/* line 1087, ../scss/342240-hines.scss */
footer {
  background: #F1F4FA;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* line 1093, ../scss/342240-hines.scss */
footer p, footer a, footer li, footer td {
  font-size: small;
  text-transform: none;
  color: #FFF;
}

/* line 1098, ../scss/342240-hines.scss */
footer a:hover, footer a:active, footer a:focus {
  text-decoration: none;
  color: #c39a42;
}

/* line 1102, ../scss/342240-hines.scss */
footer .container {
  padding: 40px 30px 20px;
  text-align: center;
}

/* line 1106, ../scss/342240-hines.scss */
footer .container .note {
  float: none;
  width: 100%;
  margin-bottom: 40px;
}

/* line 1111, ../scss/342240-hines.scss */
footer .container aside {
  width: 100%;
  margin: 0;
}

/* line 1115, ../scss/342240-hines.scss */
footer .container aside .wrapper {
  padding: 0;
}

/* line 1118, ../scss/342240-hines.scss */
footer .container aside .wrapper .contact {
  float: none;
  width: 100%;
  margin-bottom: 40px;
}

/* line 1123, ../scss/342240-hines.scss */
footer .container aside .wrapper .contact h4, footer .container aside .wrapper .quickLinks h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
  color: #c39a42;
}

/* line 1131, ../scss/342240-hines.scss */
footer .container aside .wrapper .contact table {
  margin: 0 auto 10px;
}

/* line 1134, ../scss/342240-hines.scss */
footer .container aside .wrapper .quickLinks {
  width: 100%;
  margin: 0;
}

/* line 1138, ../scss/342240-hines.scss */
footer .container aside .wrapper .quickLinks ul {
  margin: 0;
}

/* line 1141, ../scss/342240-hines.scss */
footer .container .socialMedia a {
  display: inline-block;
  margin-right: 10px;
}

/* line 1145, ../scss/342240-hines.scss */
footer .container .socialMedia .linkedIn {
  margin-right: 0;
}

/* line 1148, ../scss/342240-hines.scss */
footer .container .socialMedia a img {
  background: none;
  width: 0;
  height: 0;
}

/* line 1153, ../scss/342240-hines.scss */
footer .container .socialMedia a i {
  font-size: 1.500em;
}

/* CUSTOMIZED PAGES
===================================================================*/
/* RESPONSIVE
===================================================================*/
@media (min-width: 400px) {
  /* Small devices - phones */
    /* BASE STYLES
===================================================================*/
  /* line 1166, ../scss/342240-hines.scss */
  .container {
    width: 100%;
  }

    /* HEADER
===================================================================*/
    /* NAVIGATION
===================================================================*/
    /* HERO
===================================================================*/
    /* HOMEPAGE
===================================================================*/
    /* SUBPAGES
===================================================================*/
  /* line 1180, ../scss/342240-hines.scss */
  .page-team #teamContent .agent .info {
    margin-bottom: 20px;
  }

  /* line 1183, ../scss/342240-hines.scss */
  .page-team #teamContent .agent .info a img {
    margin-right: 20px;
    margin-bottom: 0;
  }

    /* RESOURCES
===================================================================*/
  /* line 1190, ../scss/342240-hines.scss */
  #content .container article #matterContent .featured a img {
    width: 300px;
  }

    /* SIDEBAR
===================================================================*/
    /* FOOTER
===================================================================*/
    /* CUSTOMIZED PAGES
===================================================================*/
}
@media (min-width: 480px) {
  /* Small devices - phones */
    /* BASE STYLES
===================================================================*/
  /* line 1205, ../scss/342240-hines.scss */
  .container {
    width: 100%;
  }

    /* HEADER
===================================================================*/
    /* NAVIGATION
===================================================================*/
    /* HERO
===================================================================*/
    /* HOMEPAGE
===================================================================*/
  /* line 1217, ../scss/342240-hines.scss */
  .homepage .three {
    margin-left: -10px;
    margin-right: -10px;
  }

  /* line 1221, ../scss/342240-hines.scss */
  .homepage .three .col-xs-6 {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 1226, ../scss/342240-hines.scss */
  .homepage .three .box-md .text h2 {
    font-size: 1.500em;
  }

    /* SUBPAGES
===================================================================*/
  /* line 1232, ../scss/342240-hines.scss */
  .subpage #agentContent img {
    float: right;
    margin-left: 30px;
  }

  /* line 1236, ../scss/342240-hines.scss */
  .page-team #teamContent .principal .info {
    margin-bottom: 20px;
  }

  /* line 1239, ../scss/342240-hines.scss */
  .page-team #teamContent .principal .info a img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  /* line 1243, ../scss/342240-hines.scss */
  .page-tools-glossary #glossaryContent p:first-child a {
    display: inline-block;
    width: 2%;
  }

  /* line 1247, ../scss/342240-hines.scss */
  .ie8 .page-tools-glossary #glossaryContent p:first-child a {
    display: inline;
    zoom: 1;
  }

  /* line 1251, ../scss/342240-hines.scss */
  .page-events #eventContent .event .description, #eventContent .description {
    float: none;
    clear: none;
    margin: 0 0 0 180px;
  }

    /* RESOURCES
===================================================================*/
    /* SIDEBAR
===================================================================*/
    /* FOOTER
===================================================================*/
    /* CUSTOMIZED PAGES
===================================================================*/
}
@media (min-width: 568px) {
  /* line 1266, ../scss/342240-hines.scss */
  footer .container aside .wrapper .contact {
    float: left;
    width: 50%;
    margin: 0;
  }

  /* line 1271, ../scss/342240-hines.scss */
  footer .container aside .wrapper .quickLinks {
    float: right;
    width: 50%;
  }
}
@media (min-width: 600px) {
  /* Small devices - small tablets */
    /* BASE STYLES
===================================================================*/
  /* line 1281, ../scss/342240-hines.scss */
  .container {
    width: 100%;
  }

    /* HEADER
===================================================================*/
    /* NAVIGATION
===================================================================*/
    /* HERO
===================================================================*/
  /* line 1291, ../scss/342240-hines.scss */
  #hero .hero {
    height: 350px;
  }

    /* HOMEPAGE
===================================================================*/
  /* line 1297, ../scss/342240-hines.scss */
  .homepage .three .box-md .text h2 {
    font-size: 1.750em;
  }

    /* SUBPAGES
===================================================================*/
    /* RESOURCES
===================================================================*/
  /* line 1305, ../scss/342240-hines.scss */
  #content .container article #matterContent .featured a img {
    float: left;
    margin: 0 15px 20px 0;
  }

  /* line 1309, ../scss/342240-hines.scss */
  #content .container article #matterContent .featured h2 {
    clear: none;
  }

  /* line 1312, ../scss/342240-hines.scss */
  #content .container article #additional {
    background: none;
  }

  /* line 1315, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper {
    padding: 0;
  }

  /* line 1318, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper nav {
    background: none;
    margin: 0;
  }

  /* line 1322, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper nav ul li {
    display: inline;
    text-align: center;
  }

  /* line 1326, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper nav ul li a {
    display: inline-block;
    width: 24%;
    margin: 0 1px 0 0;
    padding: 15px 14px 12px;
    font-size: 0.750em;
  }

  /* line 1333, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper .matterContent {
    padding: 30px 0;
    overflow: auto;
  }

  /* line 1337, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper .matterContent .content h4 {
    margin-top: 5px;
  }

  /* line 1340, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper .matterContent .viewAll {
    width: auto;
  }

  /* line 1343, ../scss/342240-hines.scss */
  #articleContent .tip, #articleContent .fastFact {
    display: block;
  }

  /* line 1346, ../scss/342240-hines.scss */
  #articleContent .right {
    float: right;
  }

    /* SIDEBAR
===================================================================*/
    /* FOOTER
===================================================================*/
    /* CUSTOMIZED PAGES
===================================================================*/
}
@media (min-width: 700px) {
  /* Small devices - phones */
    /* BASE STYLES
===================================================================*/
  /* line 1361, ../scss/342240-hines.scss */
  .container {
    width: 100%;
  }

    /* HEADER
===================================================================*/
    /* NAVIGATION
===================================================================*/
    /* HERO
===================================================================*/
    /* HOMEPAGE
===================================================================*/
    /* SUBPAGES
===================================================================*/
  /* line 1375, ../scss/342240-hines.scss */
  .page-team #teamContent .principal .info {
    float: none;
    margin-bottom: 0;
  }

  /* line 1379, ../scss/342240-hines.scss */
  .page-team #teamContent .principal .info h4, .page-team #teamContent .principal .info p, .page-team #teamContent .principal .team-description {
    margin-left: 220px;
  }

  /* line 1382, ../scss/342240-hines.scss */
  .page-team #teamContent .agent .info {
    width: 300px;
    margin-bottom: 0;
  }

  /* line 1386, ../scss/342240-hines.scss */
  .page-team #teamContent .agent .info h4, .page-team #teamContent .agent .info p {
    margin-left: 160px;
  }

  /* line 1389, ../scss/342240-hines.scss */
  .page-team #teamContent .agent .team-description {
    margin-left: 320px;
  }

    /* RESOURCES
===================================================================*/
  /* line 1395, ../scss/342240-hines.scss */
  #content .container article #suggested {
    margin: 0 -30px 60px;
  }

  /* line 1398, ../scss/342240-hines.scss */
  .subpage #content .container article #suggested + .rule {
    display: none;
  }

  /* line 1401, ../scss/342240-hines.scss */
  #content .container article #suggested h2 {
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  /* line 1406, ../scss/342240-hines.scss */
  #content .container article #suggested .content {
    float: left;
    width: 33.333333333%;
    margin: 0;
    padding: 0 30px;
    overflow: hidden;
  }

  /* line 1413, ../scss/342240-hines.scss */
  #content .container article #suggested .left {
    clear: left;
    margin: 0;
  }

  /* line 1417, ../scss/342240-hines.scss */
  #content .container article #suggested .content a img {
    float: none;
    background-size: 190px 145px;
    width: 190px;
    height: 145px;
    margin: 0 0 10px 0;
  }

  /* line 1424, ../scss/342240-hines.scss */
  #content .container article #suggested .content h3 {
    margin-bottom: 10px;
  }

  /* line 1427, ../scss/342240-hines.scss */
  #content .container article #suggested .content h3 a {
    font-size: medium;
  }

  /* line 1430, ../scss/342240-hines.scss */
  #content .container article #suggested .content p {
    margin: 0;
  }

  /* line 1433, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper .matterContent .content {
    float: left;
    width: 50%;
    padding-left: 30px;
  }

  /* line 1438, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper .matterContent .left {
    padding-left: 0;
    padding-right: 30px;
  }

  /* line 1442, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper .matterContent .content h4 {
    margin-bottom: 15px;
  }

  /* line 1445, ../scss/342240-hines.scss */
  #content .container article #allVideoContent .videoContent a img {
    background-size: 190px 145px;
    width: 190px;
    height: 145px;
  }

    /* SIDEBAR
===================================================================*/
  /* line 1453, ../scss/342240-hines.scss */
  #content .container aside .rule {
    display: none;
  }

  /* line 1456, ../scss/342240-hines.scss */
  #content .container aside {
    overflow: hidden;
  }

  /* line 1459, ../scss/342240-hines.scss */
  #content .container aside section {
    float: left;
    width: 50%;
  }

  /* line 1463, ../scss/342240-hines.scss */
  #content .container aside .widget-0, #content .container aside .widget-2 {
    padding-right: 20px;
  }

  /* line 1466, ../scss/342240-hines.scss */
  #content .container aside .widget-1 {
    padding-left: 20px;
  }

  /* line 1469, ../scss/342240-hines.scss */
  #content .container aside .widget-2 {
    clear: left;
  }

    /* FOOTER
===================================================================*/
    /* CUSTOMIZED PAGES
===================================================================*/
}
@media (min-width: 768px) {
  /* Small devices - tablets */
    /* BASE STYLES
===================================================================*/
  /* line 1482, ../scss/342240-hines.scss */
  body {
    min-width: 750px;
  }

  /* line 1485, ../scss/342240-hines.scss */
  .container {
    width: 100%;
  }

    /* HEADER
===================================================================*/
    /* NAVIGATION
===================================================================*/
  /* line 1493, ../scss/342240-hines.scss */
  .off-canvas {
    width: 400px;
  }

    /* HERO
===================================================================*/
  /* line 1499, ../scss/342240-hines.scss */
  #hero .hero {
    height: 480px;
  }

  /* line 1502, ../scss/342240-hines.scss */
  #hero .container .wrapper h2 {
    font-size: 2em;
  }

  /* line 1505, ../scss/342240-hines.scss */
  #hero .container .wrapper .short, #hero .container .wrapper h2 + hr + p {
    display: block;
  }

  /* line 1508, ../scss/342240-hines.scss */
  .ie8 #hero .container .wrapper .short {
    display: none;
  }

  /* line 1511, ../scss/342240-hines.scss */
  #hero .container .wrapper .short {
    background: #fff;
  }

  /* line 1514, ../scss/342240-hines.scss */
  #hero .container .wrapper p {
    font-size: 1em;
    color: #fff;
  }

    /* HOMEPAGE
===================================================================*/
  /* line 1521, ../scss/342240-hines.scss */
  .homepage .two {
    margin-left: -10px;
    margin-right: -10px;
  }

  /* line 1525, ../scss/342240-hines.scss */
  .homepage .two .col-xs-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 1529, ../scss/342240-hines.scss */
  .homepage .two .box-sm {
    margin: 0;
  }

  /* line 1532, ../scss/342240-hines.scss */
  .homepage .three .box-md .text h2 {
    font-size: 2em;
  }

    /* SUBPAGES
===================================================================*/
  /* line 1538, ../scss/342240-hines.scss */
  .page-contact .map-canvas {
    float: right;
    width: 60%;
    margin: 0 0 0 30px;
  }

  /* line 1543, ../scss/342240-hines.scss */
  .page-contact #content .container article table + a {
    display: inline-block;
    margin-bottom: 40px;
  }

  /* line 1547, ../scss/342240-hines.scss */
  .page-contact #content .container article h2 {
    margin-top: 0;
  }

    /* RESOURCES
===================================================================*/
  /* line 1553, ../scss/342240-hines.scss */
  #content .container article #allVideoContent {
    margin: 0 -30px;
  }

  /* line 1556, ../scss/342240-hines.scss */
  #content .container article #allVideoContent .videoContent {
    float: left;
    width: 33.333333333%;
    margin: 0 0 20px 0;
    padding: 0 30px;
    overflow: hidden;
  }

  /* line 1563, ../scss/342240-hines.scss */
  #content .container article #allVideoContent .left {
    margin: 0;
  }

  /* line 1566, ../scss/342240-hines.scss */
  #content .container article #allVideoContent .videoContent a img {
    float: none;
    margin: 0 0 10px 0;
  }

  /* line 1570, ../scss/342240-hines.scss */
  #content .container article #allVideoContent .videoContent h3, #content .container article #allVideoContent .videoContent p {
    margin-left: 0;
  }

  /* line 1573, ../scss/342240-hines.scss */
  #content .container article #allVideoContent .videoContent p {
    margin-bottom: 15px;
  }

  /* line 1576, ../scss/342240-hines.scss */
  #content .container article #presentationShell img {
    margin-left: 10px;
  }

    /* SIDEBAR
===================================================================*/
    /* FOOTER
===================================================================*/
  /* line 1584, ../scss/342240-hines.scss */
  footer .container {
    text-align: left;
  }

  /* line 1587, ../scss/342240-hines.scss */
  footer .container .note {
    float: left;
    width: 50%;
    margin: 0;
  }

  /* line 1592, ../scss/342240-hines.scss */
  footer .container aside {
    float: right;
    width: 50%;
  }

  /* line 1596, ../scss/342240-hines.scss */
  footer .container aside .wrapper {
    padding-left: 30px;
  }

  /* line 1599, ../scss/342240-hines.scss */
  footer .container aside .wrapper .contact {
    width: 65%;
  }

  /* line 1602, ../scss/342240-hines.scss */
  footer .container aside .wrapper .contact table {
    margin: 0 0 10px 0;
  }

  /* line 1605, ../scss/342240-hines.scss */
  footer .container aside .wrapper .quickLinks {
    width: 35%;
    padding-left: 10px;
  }

    /* CUSTOMIZED PAGES
===================================================================*/
}
@media (min-width: 992px) {
  /* Medium devices - desktops */
    /* BASE STYLES
===================================================================*/
  /* line 1617, ../scss/342240-hines.scss */
  body {
    min-width: 970px;
  }

  /* line 1620, ../scss/342240-hines.scss */
  .container {
    width: 970px;
  }

  /* line 1623, ../scss/342240-hines.scss */
  #content .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 1627, ../scss/342240-hines.scss */
  #content .container article {
    margin-bottom: 0;
  }

    /* HEADER
===================================================================*/
  /* line 1633, ../scss/342240-hines.scss */
  header .header-social {
    width: 40px;
    height: 120px;
    position: fixed;
    top: 250px;
    right: 0;
    z-index: 9999;
  }

  /* line 1641, ../scss/342240-hines.scss */
  header .header-social a {
    margin: 0;
  }

  /* line 1644, ../scss/342240-hines.scss */
  header {
    margin-top: 0;
  }

  /* line 1647, ../scss/342240-hines.scss */
  header .container, .move-top-bar .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 1651, ../scss/342240-hines.scss */
  header .header-logo {
    margin: 0;
  }

  /* line 1654, ../scss/342240-hines.scss */
  header .header-logo img {
    vertical-align: top;
  }

  /* line 1657, ../scss/342240-hines.scss */
  header .header-social a {
    position: absolute;
    right: 0;
  }

  /* line 1661, ../scss/342240-hines.scss */
  header .header-social .facebook {
    top: 0;
  }

  /* line 1664, ../scss/342240-hines.scss */
  header .header-social .twitter {
    top: 40px;
  }

  /* line 1667, ../scss/342240-hines.scss */
  header .header-social .linkedin {
    top: 80px;
  }

  /* line 1670, ../scss/342240-hines.scss */
  header .header-social .facebook:hover, header .header-social .twitter:hover, header .header-social .linkedin:hover, header .header-social .facebook:active, header .header-social .twitter:active, header .header-social .linkedin:active, header .header-social .facebook:focus, header .header-social .twitter:focus, header .header-social .linkedin:focus {
    width: 50px;
  }

    /* NAVIGATION
===================================================================*/
  /* line 1676, ../scss/342240-hines.scss */
  .navbar-fixed-top {
    position: relative;
  }

  /* line 1679, ../scss/342240-hines.scss */
  nav#main .container ul li a + a {
    display: none;
  }

  /* line 1682, ../scss/342240-hines.scss */
  nav#main {
    background: #231f20;
    width: 100%;
    margin: 0 auto;
  }

  /* line 1687, ../scss/342240-hines.scss */
  nav#main .container {
    background: none;
    width: 970px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  /* line 1695, ../scss/342240-hines.scss */
  nav#main .container ul li {
    margin: 0 10px;
    padding: 0;
  }

  /* line 1699, ../scss/342240-hines.scss */
  nav#main .container ul li.first {
    margin-left: 0;
  }

  /* line 1702, ../scss/342240-hines.scss */
  nav#main .container ul li.last {
    margin-right: 0;
  }

  /* line 1705, ../scss/342240-hines.scss */
  nav#main .container ul li a {
    display: inline-block;
    font-size: 1.100em;
    font-weight: 700;
    color: #fff;
    line-height: 1;
  }

  /* line 1712, ../scss/342240-hines.scss */
  nav#main .container ul li:hover a, nav#main .container ul li a:active, nav#main .container ul li a:focus, nav#main .container ul li a.selected {
    background: none;
    text-decoration: none;
  }

  /* line 1716, ../scss/342240-hines.scss */
  nav#main .container ul li a:before {
    content: '[';
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  /* line 1728, ../scss/342240-hines.scss */
  nav#main .container ul li:hover a:before, nav#main .container ul li a.selected:before {
    left: 0;
    opacity: 1;
  }

  /* line 1732, ../scss/342240-hines.scss */
  nav#main .container ul li a:after {
    content: ']';
    position: absolute;
    top: 0;
    right: 20px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  /* line 1744, ../scss/342240-hines.scss */
  nav#main .container ul li:hover a:after, nav#main .container ul li a.selected:after {
    right: 0;
    opacity: 1;
  }

  /* line 1748, ../scss/342240-hines.scss */
  .ie8 nav#main .container ul li a:before, .ie8 nav#main .container ul li a:after {
    content: '';
  }

  /* line 1751, ../scss/342240-hines.scss */
  nav#main .container ul li:hover .dropdown-menu {
    display: block;
    background: #67A38A;
    background: rgba(60, 35, 19, 0.95);
    width: 220px;
    text-align: left;
    border: none;
    top: 32px;
  }

  /* line 1760, ../scss/342240-hines.scss */
  nav#main .container ul li:hover .dropdown-menu li {
    margin: 0;
    padding: 0;
  }

  /* line 1764, ../scss/342240-hines.scss */
  nav#main .container ul li:hover .dropdown-menu li a {
    display: block;
    height: auto;
    margin: 0;
    padding: 15px !important;
    font-size: 1.000em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border: none;
  }

  /* line 1775, ../scss/342240-hines.scss */
  nav#main .container ul .dropdown.open .dropdown-text {
    border-bottom: none;
  }

  /* line 1778, ../scss/342240-hines.scss */
  .navbar {
    height: 50px !important;
    top: 0 !important;
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    transition: all 0s ease-out;
  }

  /* line 1787, ../scss/342240-hines.scss */
  .navbar .container {
    position: static;
  }

  /* line 1790, ../scss/342240-hines.scss */
  .off-canvas {
    background: none;
    width: auto;
    height: auto;
    padding: 0;
    overflow: visible;
    position: static;
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    transition: all 0s ease-out;
  }

  /* line 1803, ../scss/342240-hines.scss */
  .off-canvas .navbar-nav {
    float: none;
    background: none;
    padding-top: 15px;
    overflow-x: visible;
  }

  /* line 1809, ../scss/342240-hines.scss */
  .off-canvas .navbar-nav li {
    display: inline;
    float: none;
  }

  /* line 1813, ../scss/342240-hines.scss */
  nav#main .off-canvas .navbar-nav li a {
    height: auto;
    padding: 0 15px 16px !important;
  }

  /* line 1817, ../scss/342240-hines.scss */
  .off-canvas .navbar-nav .open .dropdown-menu {
    display: none;
  }

  /* line 1820, ../scss/342240-hines.scss */
  nav#main .container ul li:hover .dropdown-menu li a:hover, nav#main .container ul li:hover .dropdown-menu li a:active, nav#main .container ul li:hover .dropdown-menu li a:focus, nav#main .container ul li:hover .dropdown-menu li a.selected {
    background: #c39a42;
    color: #fff;
  }

  /* line 1824, ../scss/342240-hines.scss */
  nav#main .container ul li:hover .dropdown-menu li a:before, nav#main .container ul li:hover .dropdown-menu li a:after {
    content: '';
  }

  /* line 1827, ../scss/342240-hines.scss */
  .navbar-header {
    height: 50px;
  }

    /* HERO
===================================================================*/
  /* line 1833, ../scss/342240-hines.scss */
  #hero .container {
    width: 970px;
  }

  /* line 1836, ../scss/342240-hines.scss */
  #hero .container .wrapper {
    width: 45%;
    padding: 20px;
    border-left: solid 20px #6F5646;
    bottom: 40px;
    left: 40px;
  }

    /* HOMEPAGE
===================================================================*/
  /* line 1846, ../scss/342240-hines.scss */
  .homepage #content .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* line 1850, ../scss/342240-hines.scss */
  .homepage #content .container article {
    width: 100%;
  }

  /* line 1853, ../scss/342240-hines.scss */
  .homepage #content .container aside {
    display: none;
  }

  /* line 1874, ../scss/342240-hines.scss */
  .homepage .one .welcome a span {
    position: relative;
    z-index: 1;
  }

  /* line 1878, ../scss/342240-hines.scss */
  .homepage .two .box-sm {
    height: 286px;
  }

  /* line 1881, ../scss/342240-hines.scss */
  .homepage .two .box-sm a {
    position: absolute;
    bottom: 30px;
  }

  /* line 1885, ../scss/342240-hines.scss */
  .homepage .two .box-sm a:before {
    display: inline-block;
    content: '';
    background: #c39a42;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  /* line 1900, ../scss/342240-hines.scss */
  .homepage .two .box-sm a:hover:before {
    width: 100%;
  }

  /* line 1903, ../scss/342240-hines.scss */
  .homepage .two .box-sm a span {
    position: relative;
    z-index: 1;
  }

  /* line 1907, ../scss/342240-hines.scss */
  .homepage .three .box-md img, .homepage .three .box-md .text {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* line 1914, ../scss/342240-hines.scss */
  .homepage .three .box-md img {
    opacity: 0.8;
  }

  /* line 1917, ../scss/342240-hines.scss */
  .homepage .three .box-md:hover img {
    opacity: 0.1;
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  /* line 1925, ../scss/342240-hines.scss */
  .homepage .three .box-md .text h2:after {
    background: #fff;
    content: '';
    width: 0;
    height: 2px;
    margin-left: -150px;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  /* line 1940, ../scss/342240-hines.scss */
  .homepage .three .box-md:hover .text h2:after {
    width: 300px;
  }

    /* SUBPAGES
===================================================================*/
  /* line 1946, ../scss/342240-hines.scss */
  .subpage #content .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* line 1950, ../scss/342240-hines.scss */
  .subpage #content .container article, .subpage #content .container aside {
    width: 100%;
  }

    /* RESOURCES
===================================================================*/
  /* line 1956, ../scss/342240-hines.scss */
  #content .container article #additional .wrapper nav ul li a {
    font-size: 1em;
  }

  /* line 1959, ../scss/342240-hines.scss */
  #content .container article #allTypeContent .matter {
    width: 50%;
    padding-left: 40px;
  }

  /* line 1963, ../scss/342240-hines.scss */
  #content .container article #allTypeContent .left {
    padding-left: 0;
  }

    /* SIDEBAR
===================================================================*/
  /* line 1969, ../scss/342240-hines.scss */
  #content .container aside section {
    width: 270px;
    margin-right: 40px;
    padding: 0 !important;
  }

  /* line 1974, ../scss/342240-hines.scss */
  #content .container aside .widget-2 {
    clear: none;
    margin-right: 0;
  }

    /* FOOTER
===================================================================*/
  /* line 1981, ../scss/342240-hines.scss */
  footer {
    background: #d7dae0;
  }

  /* line 1984, ../scss/342240-hines.scss */
  footer .container {
    background: #fff;
    margin: 0 auto 40px;
    padding: 0 40px 16px;
  }

  /* line 1989, ../scss/342240-hines.scss */
  footer .container .note {
    background: #f1f4fa;
    width: 50%;
    height: auto;
    padding: 30px 0 30px 30px;
  }

  /* line 1995, ../scss/342240-hines.scss */
  footer .container aside {
    background: #f1f4fa;
    width: 50%;
    height: 350px;
    padding: 30px 30px 30px 0;
  }

  /* line 2001, ../scss/342240-hines.scss */
  footer .container aside .wrapper {
    padding-left: 50px;
  }

  /* line 2004, ../scss/342240-hines.scss */
  footer .container aside .wrapper .contact {
    width: 65%;
  }

  /* line 2007, ../scss/342240-hines.scss */
  footer .container aside .wrapper .quickLinks {
    width: 35%;
    padding-left: 0;
  }

    /* CUSTOMIZED PAGES
===================================================================*/
}
@media (min-width: 1200px) {
  /* Large devices - large desktops */
    /* BASE STYLES
===================================================================*/
  /* line 2019, ../scss/342240-hines.scss */
  body {
    min-width: 1170px;
  }

  /* line 2022, ../scss/342240-hines.scss */
  .container {
    width: 1170px;
  }

    /* HEADER
===================================================================*/
    /* NAVIGATION
===================================================================*/
  /* line 2030, ../scss/342240-hines.scss */
  nav#main .container {
    width: 1170px;
  }

  /* line 2033, ../scss/342240-hines.scss */
  nav#main .container ul li {
    margin: 0 25px;
  }

    /* HERO
===================================================================*/
  /* line 2039, ../scss/342240-hines.scss */
  #hero .container {
    width: 1170px;
  }

    /* HOMEPAGE
===================================================================*/
  /* line 2045, ../scss/342240-hines.scss */
  .homepage .two .box-sm {
    height: 250px;
  }

    /* SUBPAGES
===================================================================*/
  /* line 2051, ../scss/342240-hines.scss */
  .page-contact .map-canvas {
    width: 70%;
  }

    /* RESOURCES
===================================================================*/
  /* line 2057, ../scss/342240-hines.scss */
  #content .container article #suggested .content a img, #content .container article #allVideoContent .videoContent a img {
    background-size: 250px 191px;
    width: 250px;
    height: 191px;
  }

    /* SIDEBAR
===================================================================*/
  /* line 2065, ../scss/342240-hines.scss */
  #content .container aside section {
    width: 330px;
    margin-right: 50px;
    padding: 0 !important;
  }

  /* line 2070, ../scss/342240-hines.scss */
  #content .container aside .widget-2 {
    clear: none;
    margin-right: 0;
  }

    /* FOOTER
===================================================================*/
  /* line 2077, ../scss/342240-hines.scss */
  footer .container .note {
    width: 60%;
  }

  /* line 2080, ../scss/342240-hines.scss */
  footer .container aside {
    width: 40%;
  }

    /* CUSTOMIZED PAGES
===================================================================*/
}
