/* THEME 8B
====================================================================*/
/* by james.augustavo */
/* FONT EMBEDDING
====================================================================*/
@import "variables";

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/* font-family: "Droid Serif", serif; */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/* font-family: "Lato", sans-serif;*/
/*BACK TO TOP
===================================================================*/

.back-to-top {
        /* adjust color to match branding */
        
        background: $backToTopBgColor;
        background: $backToTopBgColorRGBA;
        padding: 5px 15px;
        text-decoration: none;
        text-transform: none;
        position: fixed;
        bottom: 0;
        right: 20px;
        z-index: 999;
        display: none;
        border-radius: 0;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
}
.back-to-top i {
        font-size: 1.500em;
        color: $backToTopArrowColor;
}
.back-to-top:hover, .back-to-top:active, .back-to-top:focus {
        /* adjust color to match branding */
        
        background: lighten($backToTopBgColor, 10%);
        background: lighten($backToTopBgColorRGBA, 10%);
        text-decoration: none;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
}
/* BASE STYLES
====================================================================*/

html {
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
        -webkit-tap-highlight-color: transparent !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
}
body {
        background: $bodyBgColor none;
        font-family: $bodyFont;
        font-size: 100%;
        line-height: 1.5;
        overflow: hidden;
        -ms-overflow-style: scrollbar;
}
p, li, div, td, section {
        font-family: $bodyFont;
        font-size: medium;
        color: $pColor;
}
p {
        margin-bottom: 15px;
}
a {
        font-family: $bodyFont;
        font-size: medium;
        outline: 0;
        color: $aColor;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
        -webkit-tap-highlight-color: transparent !important;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
a:hover, a:active, a:focus {
        text-decoration: none;
        color: $aColorHover;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
h1, h2, h3, h4, h5, h6 {
        font-family: $headingFont;
        font-weight: $headingWeight;
        text-transform: $headingTextTransform;
        color: $headingColor;
        line-height: 1.1;
}
h4, h5, h6 {
        margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        font-family: $bodyFont;
        font-weight: $headingAWeight;
        text-transform: $headingATextTransform;
        color: $headingAColor;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
        text-decoration: none;
        color: $headingAHoverColor;
}
*, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
}
#fancybox-wrap, #fancybox-outer, #fancybox-content {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        -ms-box-sizing: content-box !important;
        -o-box-sizing: content-box !important;
        box-sizing: content-box !important;
}
.container {
        width: 100%;
        padding: 0;
}
#content {
        background: $contentBgColor;
        min-height: 0;
}
#content .container {
        background: $contentContainerBgColor;
        padding: 40px 0;
}
#content .container article, #content .container aside {
        margin: 0;
        padding: 0;
}
#content .container article .rule, #content .container aside .rule {
        background: $contentRule none;
        width: 100%;
        height: 1px;
        margin: 40px 0;
}
#content .container article h2 {
        margin-top: 0;
}
#content .container article h3 {
        margin: 30px 0 10px 0;
}
.row {
        margin-left: 0;
        margin-right: 0;
}
.col-xs-12 {
        padding-left: 0;
        padding-right: 0;
}
#content .container article {
        margin-bottom: 60px;
}
/* HEADER
===================================================================*/

header {
        background: $headerBgColor none;
        width: 100%;
        height: auto;
        margin: 60px 0 0 0;
        padding: 40px 0;
}
header .container {
        background: none;
        height: 100%;
        padding: 0 30px;
        text-align: center;
}
header .header-logo {
        margin: 0 0 20px 0;
        position: relative;
        z-index: 2;
}
header .header-logo img {
        width: 100%;
        max-width: 300px;
}
.ie8 header .header-logo img {
        max-height: 100px;
}
header .header-social a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 3px 0 0;
        padding: 11px 0;
        text-align: center;
        color: $headerSocialAColor;
}
header .header-social a i {
        margin: 0;
        font-size: 1.200em;
        vertical-align: top;
}
header .header-social .facebook {
        background: $facebookBgColor;
}
header .header-social .twitter {
        background: $twitterBgColor;
}
header .header-social .linkedin {
        background: $linkedinBgColor;
        margin: 0;
}
header .header-social .facebook:hover, header .header-social .facebook:active, header .header-social .facebook:focus {
        background: lighten($facebookBgColor, 10%);
}
header .header-social .twitter:hover, header .header-social .twitter:active, header .header-social .twitter:focus {
        background: lighten($twitterBgColor, 10%);
}
header .header-social .linkedin:hover, header .header-social .linkedin:active, header .header-social .linkedin:focus {
        background: lighten($linkedinBgColor, 10%);
}
/* NAVIGATION
===================================================================*/

nav#main #homeButton {
        display: none;
}
nav#main {
        background: $navbarBgColor;
        height: 60px;

        @media(max-width: 992px){
                background: #3c2313;
        }
}
nav#main .container {
        background: none;
        padding: 0;
        text-align: left;
}
nav#main .container ul li {
        background: none;
        margin: 0;
        margin: 0;
        padding: 0;
}
nav#main .container ul li.first {
        padding-top: 0;
}
nav#main .container ul li.last {
        padding-bottom: 0;
}
nav#main .container ul li a {
        display: block;
        background: none;
        font-size: 1em;
        font-weight: $navbarLinkWeight;
        text-transform: $navbarLinkTransform;
        color: $navbarLinkColor;
}
nav#main .container ul li:hover a, nav#main .container ul li a:active, nav#main .container ul li a:focus {
        background: $navbarLinkBgColorHover;
        color: $navbarLinkColor;
}
nav#main .container ul li a.selected {
        background: darken($navbarLinkBgColorHover, 10%);
        color: $navbarLinkColor;
}
nav#main .container ul li a i {
        font-size: large;
}
nav#main .container ul li .dropdown-toggle {
        background: none;
        position: absolute;
        top: 0;
        right: 0;
}
nav#main .container ul li .dropdown-toggle i {
        font-size: 1.750em;
}
nav#main .container ul li .dropdown-toggle:active, nav#main .container ul li .dropdown-toggle:focus, nav#main .container ul li .dropdown-toggle.selected {
        background: none;
}
nav#main .container ul li.open .dropdown-toggle {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
}
nav#main .container ul li:hover .dropdown-toggle, nav#main .container ul li .dropdown-toggle:hover {
        background: none;
}
nav#main .container ul .dropdown.open .dropdown-text {
        border-bottom: solid 1px $navbarLinkBorderBottom;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
}
.navbar {
        min-height: 0;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        top: 0;
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
}
.navbar.nav-up {
        top: -60px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
.navbar-header, .offcanvas {
        margin-left: 0 !important;
        margin-right: 0 !important;
}
.navbar-header {
        height: 60px;
}
/* START NAV TOGGLE */

.navbar-toggle {
        background: $navbarToggleBgColor !important;
        width: 120px;
        height: 60px;
        margin: 0;
        padding: 13px 18px;
        border: none;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
        background: $navbarToggleBgColor !important;
}
.navbar-toggle .text {
        display: block;
        float: left;
        margin: -1px 0 0 0;
        font-size: 1em;
        text-transform: $navbarToggleTextTransform;
        color: $navbarToggleText;
        line-height: 1;
}
.navbar-toggle .icon-bar {
        background-color: $navbarToggleHamburgerBgColor !important;
        width: 20px;
        margin-left: 60px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
.nav-expanded .navbar-toggle .center {
        background: none !important;
}
.nav-expanded .navbar-toggle .top {
        -webkit-transform: rotate(45deg) translate(3px, 6px);
        -moz-transform: rotate(45deg) translate(3px, 6px);
        -ms-transform: rotate(45deg) translate(3px, 5px);
        -o-transform: rotate(45deg) translate(3px, 5px);
        transform: rotate(45deg) translate(3px, 5px);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
.nav-expanded .navbar-toggle .bottom {
        -webkit-transform: rotate(-45deg) translate(3px, -6px);
        -moz-transform: rotate(-45deg) translate(3px, -6px);
        -ms-transform: rotate(-45deg) translate(3px, -6px);
        -o-transform: rotate(-45deg) translate(3px, -6px);
        transform: rotate(-45deg) translate(3px, -6px);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
/* END NAV TOGGLE */
/* START OFF CANVAS */

.nav-expanded {
        overflow: hidden !important;
}
.off-canvas {
        background: $offcanvasBgColor;
        background: $offcanvasBgColorRGBA;
        width: 100%;
        height: 100%;
        padding: 0 0 60px 0;
        border: none;
        overflow: auto;
        position: fixed;
        top: 60px;
        right: -100%;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}
.nav-expanded .off-canvas {
        right: 0;
}
.off-canvas .navbar-nav {
        background: none;
        height: auto;
        margin: 0;
}
.off-canvas .navbar-nav li {
        display: block;
        margin: 0;
        padding: 0;
}
.off-canvas .navbar-nav li a {
        height: 80px;
        padding: 30px 20px;
}
.off-canvas .navbar-nav li a, .off-canvas .navbar-nav li a:hover, .off-canvas .navbar-nav li a:active, .off-canvas .navbar-nav li a:focus {
        text-decoration: none;
}
.off-canvas .navbar-nav li .dropdown-toggle {
        width: auto;
        height: auto;
        padding: 24px;
}
/* END OFF CANVAS */
/* START DROP DOWN*/

nav#main .container ul li .dropdown-menu {
        background: $dropdownBgColor;
        background: $dropdownBgColorRGBA;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
        -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
        -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
        -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
}
nav#main .container ul li:hover .dropdown-menu {
        background: $dropdownBgColor;
        background: $dropdownBgColorRGBA;
        left: 0;
}
nav#main .container ul li .dropdown-menu li a {
        height: 60px;
        padding: 20px 15px 20px 30px !important;
        font-size: 1em;
        text-transform: $dropdownLinkTransform;
}
nav#main .container ul li:hover .dropdown-menu li a {
        background: none;
        color: $navbarLinkColor;
}
nav#main .container ul li:hover .dropdown-menu li a:hover, nav#main .container ul li:hover .dropdown-menu li a:active, nav#main .container ul li:hover .dropdown-menu li a:focus {
        background: $navbarLinkBgColorHover;
        color: $navbarLinkColor;
}
nav#main .container ul li:hover .dropdown-menu li a.selected {
        background: darken($navbarLinkBgColorHover, 10%);
        color: $navbarLinkColor;
}
nav#main .container ul li a.selected + .dropdown-toggle {
        color: $navbarLinkColor;
}
.dropdown-menu > li > a {
        white-space: normal;
}
/* for IE8 and IE9 - match .dropdown-menu li a:hover */

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
        filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr='ff417D64', endColorstr='ff417D64', GradientType=0)';
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr='ff417D64', endColorstr='ff417D64', GradientType=0)';
}
/* END DROP DOWN*/
/* HERO
===================================================================*/
/* set rotator overrides here */

#hero #hero1 img {
        background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/hero01.jpg) no-repeat 50% 100% !important;
}
#hero #hero2 img {
        background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/hero02.jpg) no-repeat 50% 100% !important;
}
#hero #hero3 img {
        background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/hero03.jpg) no-repeat 50% 100% !important;
}
#hero #hero1 img, #hero #hero2 img, #hero #hero3 img {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -ms-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
}
#hero .hero {
        width: 100%;
        height: 275px;
}
#hero .container .backArrow, #hero .container .forwardArrow, #hero .container aside, #hero .container .wrapper .short, #hero .container .wrapper h2 + hr + p, #hero .container .wrapper p a + a {
        display: none;
}
#hero {
        background: $heroBgColor none;
        height: 100%;
        margin: 0;
        padding: 0;
}
#hero .container {
        width: 100%;
        height: 100%;
        padding: 0;
}
#hero .container .wrapper {
        background: $heroWrapperBgColor;
        background: $heroWrapperBgColorRGBA;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 30px;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
}
#hero .container .wrapper h2 {
        display: inline-block;
        background: none;
        margin: 0;
        padding: 0;
        font-size: 1.750em;
        font-weight: $heroWrapperH2Weight;
        text-transform: $heroWrapperH2Transform;
        color: $heroWrapperH2Color;
        vertical-align: top;
}
#hero .container .wrapper p + p {
        display: block;
        margin: 15px 0 0 0;
}
#hero .container .wrapper p a {
        display: inline-block;
        font-size: 1.250em;
        font-weight: $heroWrapperLinkWeight;
        text-transform: $heroWrapperLinkTransform;
        text-align: center;
        color: $heroWrapperLinkColor;
        line-height: 1;
        vertical-align: top;
}
#hero .container .wrapper p a:hover, #hero .container .wrapper p a:active, #hero .container .wrapper p a:focus {
        text-decoration: underline;
}
/* HOMEPAGE
===================================================================*/

.homepage #agentPhoto, .homepage #content .container article .rule, .homepage #suggested, .homepage #additional {
        display: none;
}
.short {
        background: $shortBgColor;
        width: 200px;
        height: 2px;
        margin-top: 20px;
        margin-bottom: 30px;
}
.ie8 .short {
        display: none;
}
.homepage .one {
        margin-bottom: 40px;
}
.homepage .one .welcome {
        // background: $welcomeBgColor;
        margin: 0;
        padding: 30px;
}
.homepage .one .welcome h2 {
        font-size: 1.650em;
}
.homepage .one .welcome .last {
        margin-bottom: 30px;
}
// .homepage .one .welcome a {
//         display: inline-block;
//         background: $welcomeLinkBgColor;
//         width: 200px;
//         height: 50px;
//         font-size: 1.250em;
//         font-weight: $welcomeLinkWeight;
//         text-transform: $welcomeLinkTransform;
//         text-align: center;
//         color: $welcomeLinkColor;
//         line-height: 2.5;
//         border-left: solid 20px $welcomeLinkBorderLeftColor;
//         position: relative;
// }
.homepage .two {
        margin-bottom: 40px;
}
.homepage .two .box-sm {
        background: $boxSmallBgColor;
        margin: 0 0 20px 0;
        padding: 30px;
        position: relative;
}
.homepage .two .right {
        margin-bottom: 0;
}
.homepage .two .box-sm h2, .homepage .two .box-sm p, .homepage .two .box-sm a {
        color: $boxSmallTextColor;
}
.homepage .two .box-sm h2 {
        margin: 0 0 20px 0;
        font-size: 1.550em;
}
.homepage .two .box-sm p {
        margin: 0 0 40px 0;
}
.homepage .two .box-sm a {
        display: inline-block;
        background: $boxSmallLinkBgColor;
        width: 160px;
        height: 40px;
        font-weight: $boxSmallLinkWeight;
        text-transform: $boxSmallLinkTransform;
        text-align: center;
        line-height: 2.5;
        border-left: solid 20px $boxSmallLinkBorderLeftColor;
}
.homepage .three .box-md {
        float: none;
        background: $boxMediumBgColor;
        width: 100%;
        max-width: 600px;
        margin: 0 auto 20px;
        text-align: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
        cursor: pointer;
}
.homepage .three .col-xs-6 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
}
.homepage .three .box-md img {
        width: 100%;
        max-width: 600px;
        opacity: 0.6;
        position: relative;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
.homepage .three .box-md .text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
}
.homepage .three .box-md .text h2 {
        margin: 0;
        font-family: $bodyFont;
        font-weight: $boxMediumH2Weight;
        text-transform: $boxMediumH2Transform;
        color: $boxMediumTextColor;
        line-height: 1;
}
.ie8 .homepage .three .box-md .text h2 {
        background: #81BDA3;
}
.homepage .three .box-md .text a {
        display: block;
        background: url(http://fmg-websites-custom.s3.amazonaws.com/exclusive-setup/theme-8b/images/blank.png) 0 0 repeat;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-indent: 200%;
        white-space: nowrap;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
}
.homepage #content .container {
        padding-bottom: 0;
}
.homepage #content .container article {
        margin-bottom: 0;
}
/* SUBPAGES
===================================================================*/

.subpage #content .container {
        padding-left: 30px;
        padding-right: 30px;
}
.subpage #content .container article {
        margin-bottom: 60px;
}
.subpage #content .container article h1 {
        margin: 0;
        font-size: xx-large;
}
.subpage .short {
        margin-bottom: 30px;
}
.ie8 .subpage .short {
        display: none;
}
.subpage #content .container article h2 {
        margin-top: 20px;
        font-size: x-large;
}
.page-blog .post {
        line-height: 1.5;
}
.page-team #teamContent .info a img {
        margin-bottom: 20px;
}
.page-team #teamContent .info a img:hover {
        opacity: 0.9;
}
.page-team #teamContent .principal .info, .page-team #teamContent .agent .info {
        float: left;
        width: 100%;
}
.page-team #teamContent .principal .info a img, .page-team #teamContent .agent .info a img {
        margin-right: 100%;
}
.page-team #teamContent .principal .info h4, .page-team #teamContent .principal .info p, .page-team #teamContent .agent .info h4, .page-team #teamContent .agent .info p {
        margin-left: 0;
}
.page-team #teamContent .principal .team-description, .page-team #teamContent .agent .team-description {
        margin-left: 0;
}
.subpage #agentContent img {
        float: none;
        margin-left: 0;
}
.page-events #eventContent .event {
        overflow: hidden;
}
.page-events #eventContent .event .description, #eventContent .description {
        float: left;
        clear: left;
        margin: 0;
}
.page-events #eventContent .event .description h3 {
        margin-top: 0;
}
.page-tools-glossary #glossaryContent p:first-child a {
        display: inline-block;
        width: 5%;
}
.page-tools-glossary #glossaryContent h3 {
        font-size: 1.250em;
        font-weight: $headingWeight;
}
.page-tools-glossary #glossaryContent h3 a {
        font-family: $headingFont;
        font-size: 1em;
        font-weight: $glossaryH3LinkWeight;
        text-transform: $glossaryH3LinkTransform;
        color: $headingColor;
}
.subpage #content .container article #learningContent .matter {
        width: 100%;
        margin: 0;
}
.page-contact .map-canvas {
        float: none;
        width: 100%;
        margin: 0 0 30px 0;
}
.page-contact #content .socialMedia {
        display: none;
}
.slideText p {
        color: #fff;
}
/* RESOURCES
===================================================================*/

.page-resource-center #content article h2 a {
        font-size: 0.900em;
}
#content .container article #matterContent .featured a img {
        float: left;
        width: 280px;
        margin: 0 0 20px 0;
}
#content .container article #matterContent .featured h2 {
        clear: left;
}
#content .container article #matterContent .featured h2 a {
        font-size: x-large;
}
#content .container article #suggested .content a:hover img, #content .container article #allVideoContent .videoContent a:hover img {
        opacity: 0.9;
}
#content .container article #suggested .content h3, .subpage #allVideoContent .videoContent h3 {
        margin-top: 0;
}
#content .container article #suggested {
        margin-bottom: 10px;
        overflow: hidden;
}
#content .container article #suggested h2 {
        margin: 0 0 20px 0;
        font-size: x-large;
}
#content .container article #suggested .content {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0 0 30px 0;
        overflow: hidden;
}
#content .container article #suggested .content a img {
        float: left;
        background-size: 100px 76px;
        width: 100px;
        height: 76px;
        margin: 0 15px 0 0;
}
#content .container article #suggested .content h3 {
        margin-bottom: 10px;
}
#content .container article #suggested .content h3 a {
        font-size: large;
}
#content .container article #suggested .content p {
        margin: 0 0 0 115px;
        font-size: medium;
}
#content .container article #additional {
        background: none;
}
#content .container article #additional .wrapper {
        padding: 0;
        overflow: hidden;
}
#content .container article #additional .wrapper nav {
        background: none;
        width: 100%;
        margin-bottom: 30px;
}
#content .container article #additional .wrapper nav ul {
        margin: 0;
        padding: 0;
}
#content .container article #additional .wrapper nav ul li {
        display: block;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        border: none;
}
#content .container article #additional .wrapper nav ul li a {
        display: block;
        background: $additionalParentTabBgColor;
        margin: 0 0 5px 0;
        padding: 10px 20px;
        font-size: large;
        font-weight: $additionalParentTabWeight;
        text-transform: $additionalParentTabTransform;
        color: $additionalParentTabColor;
}
#content .container article #additional .wrapper nav ul li a:hover, #content .container article #additional .wrapper nav ul li a:active, #content .container article #additional .wrapper nav ul li a:focus, #content .container article #additional .wrapper nav ul li a.selected {
        background: lighten($additionalParentTabBgColor, 10%);
        text-decoration: none;
        color: $additionalParentTabColor;
}
#content .container article #additional .wrapper .matterContent .content {
        width: 100%;
        margin: 0 0 5px 0;
}
#content .container article #additional .wrapper .matterContent .content h4 a {
        font-size: medium;
        color: $headingAColor;
}
#content .container article #additional .wrapper .matterContent .content h4 a:hover, #content .container article #additional .wrapper .matterContent .content h4 a:active, #content .container article #additional .wrapper .matterContent .content h4 a:focus {
        color: $headingAHoverColor;
        text-decoration: none;
}
#content .container article #additional .wrapper .matterContent p {
        font-size: small;
        color: $pColor;
}
#content .container article #additional .wrapper .matterContent .viewAll {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
}
#content .container article #additional .wrapper .matterContent .viewAll a {
        display: inline-block;
        background: $additionalParentTabBgColor;
        margin: 0 0 0 0;
        padding: 10px 20px;
        font-size: large;
        font-weight: $additionalParentTabWeight;
        text-transform: $additionalParentTabTransform;
        color: $additionalParentTabColor;
}
#content .container article #additional .wrapper .matterContent .viewAll a:hover, #content .container article #additional .wrapper .matterContent .viewAll a:active, #content .container article #additional .wrapper .matterContent .viewAll a:focus {
        background: lighten($additionalParentTabBgColor, 10%);
        text-decoration: none;
        color: $additionalParentTabColor;
}
#content .container article #additional .wrapper .matterContent .viewAll a + a {
        display: none;
}
#content .container article .flagBody {
        background: $flagBodyBgColor;
        font-size: 1em;
        font-weight: 700;
        text-transform: none;
        color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
#content .container article .flagBody:hover, #content .container article .flagBody:active, #content .container article .flagBody:focus {
        background: lighten($flagBodyBgColor, 10%);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
#content .container article #allVideoContent .videoContent {
        width: 100%;
        margin: 0;
        padding-bottom: 40px;
}
#content .container article #allVideoContent .videoContent a img {
        float: left;
        background-size: 100px 76px;
        width: 100px;
        height: 76px;
        margin: 0 20px 0 0;
}
#content .container article #allVideoContent .videoContent h3, #content .container article #allVideoContent .videoContent p {
        margin-left: 120px;
}
#content .container article #allVideoContent .videoContent p {
        margin-bottom: 0;
}
#content .container article #presentationShell h2 {
        width: 100%;
        max-width: 630px;
}
#content .container article #presentationShell img {
        width: 100%;
        max-width: 610px;
        margin-left: 0;
}
#content .container article #allTypeContent .matter {
        width: 100%;
        margin-right: 0;
}
#articleContent img {
        float: none;
        height: auto;
        max-width: 100%;
}
#articleContent .tip, #articleContent .fastFact {
        display: none;
}
.focusBox {
        width: auto;
        margin: 0;
}
/* SIDEBAR
===================================================================*/

#content .container aside section {
        width: 100%;
        margin: 0 auto 40px;
}
#content .container aside section:last-child {
        margin-bottom: 0;
}
#content .container aside section .wrapper {
        margin: 0;
        padding: 0;
}
#content .container aside section h2 {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: x-large;
}
#content .container aside section p {
        font-size: small;
}
#content .container aside section label {
        float: left;
        font-weight: 400;
        font-size: small;
}
#content .container aside section input, #content .container aside section textarea {
        width: 100%;
        margin: 0 0 15px 0;
}
#content .container aside section .submit {
        background: $submitBgColor;
        width: 100%;
        height: auto;
        margin: 5px 0 0 0;
        padding: 10px 0;
        font-family: $bodyFont;
        text-transform: $submitTransform;
        text-align: center;
        color: $submitColor;
        line-height: 1;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
#content .container aside section .submit:hover, #content .container aside section .submit:active, #content .container aside section .submit:focus {
        background: lighten($submitBgColor, 10%);
        color: $submitColor;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
}
#content .container aside form p:last-child {
        margin: 0;
}
.market .firstIndexName {
        font-size: large;
}
/* FOOTER
===================================================================*/
/* TEMP HIDE FOR SANDBOX */

footer .globalCopyright + p {
        display: none;
}
footer {
        background: $footerBgColor;
        min-height: 0;
        margin: 0;
        padding: 0;
}
footer p, footer a, footer li, footer td {
        font-size: small;
        text-transform: $footerTextTransform;
        color: #FFF;
}
footer a:hover, footer a:active, footer a:focus {
        text-decoration: none;
        color: $aColorHover;
}
footer .container {
        padding: 40px 30px 20px;
        text-align: center;
}
footer .container .note {
        float: none;
        width: 100%;
        margin-bottom: 40px;
}
footer .container aside {
        width: 100%;
        margin: 0;
}
footer .container aside .wrapper {
        padding: 0;
}
footer .container aside .wrapper .contact {
        float: none;
        width: 100%;
        margin-bottom: 40px;
}
footer .container aside .wrapper .contact h4, footer .container aside .wrapper .quickLinks h4 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 1em;
        font-weight: $footerH4Weight;
        text-transform: $footerH4Transform;
        color: $headingColor;
}
footer .container aside .wrapper .contact table {
        margin: 0 auto 10px;
}
footer .container aside .wrapper .quickLinks {
        width: 100%;
        margin: 0;
}
footer .container aside .wrapper .quickLinks ul {
        margin: 0;
}
footer .container .socialMedia a {
        display: inline-block;
        margin-right: 10px;
}
footer .container .socialMedia .linkedIn {
        margin-right: 0;
}
footer .container .socialMedia a img {
        background: none;
        width: 0;
        height: 0;
}
footer .container .socialMedia a i {
        font-size: 1.500em;
}
/* CUSTOMIZED PAGES
===================================================================*/
/* RESPONSIVE
===================================================================*/

@media (min-width: 400px) {
        /* Small devices - phones */
        /* BASE STYLES
    ===================================================================*/
        
        .container {
                width: 100%;
        }
        /* HEADER
    ===================================================================*/
        /* NAVIGATION
    ===================================================================*/
        /* HERO
    ===================================================================*/
        /* HOMEPAGE
    ===================================================================*/
        /* SUBPAGES
    ===================================================================*/
        
        .page-team #teamContent .agent .info {
                margin-bottom: 20px;
        }
        .page-team #teamContent .agent .info a img {
                margin-right: 20px;
                margin-bottom: 0;
        }
        /* RESOURCES
    ===================================================================*/
        
        #content .container article #matterContent .featured a img {
                width: 300px;
        }
        /* SIDEBAR
    ===================================================================*/
        /* FOOTER
    ===================================================================*/
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
@media (min-width: 480px) {
        /* Small devices - phones */
        /* BASE STYLES
    ===================================================================*/
        
        .container {
                width: 100%;
        }
        /* HEADER
    ===================================================================*/
        /* NAVIGATION
    ===================================================================*/
        /* HERO
    ===================================================================*/
        /* HOMEPAGE
    ===================================================================*/
        
        .homepage .three {
                margin-left: -10px;
                margin-right: -10px;
        }
        .homepage .three .col-xs-6 {
                width: 50%;
                padding-left: 10px;
                padding-right: 10px;
        }
        .homepage .three .box-md .text h2 {
                font-size: 1.500em;
        }
        /* SUBPAGES
    ===================================================================*/
        
        .subpage #agentContent img {
                float: right;
                margin-left: 30px;
        }
        .page-team #teamContent .principal .info {
                margin-bottom: 20px;
        }
        .page-team #teamContent .principal .info a img {
                margin-right: 20px;
                margin-bottom: 0;
        }
        .page-tools-glossary #glossaryContent p:first-child a {
                display: inline-block;
                width: 2%;
        }
        .ie8 .page-tools-glossary #glossaryContent p:first-child a {
                display: inline;
                zoom: 1;
        }
        .page-events #eventContent .event .description, #eventContent .description {
                float: none;
                clear: none;
                margin: 0 0 0 180px;
        }
        /* RESOURCES
    ===================================================================*/
        /* SIDEBAR
    ===================================================================*/
        /* FOOTER
    ===================================================================*/
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
@media (min-width: 568px) {
        footer .container aside .wrapper .contact {
                float: left;
                width: 50%;
                margin: 0;
        }
        footer .container aside .wrapper .quickLinks {
                float: right;
                width: 50%;
        }
}
@media (min-width: 600px) {
        /* Small devices - small tablets */
        /* BASE STYLES
    ===================================================================*/
        
        .container {
                width: 100%;
        }
        /* HEADER
    ===================================================================*/
        /* NAVIGATION
    ===================================================================*/
        /* HERO
    ===================================================================*/
        
        #hero .hero {
                height: 350px;
        }
        /* HOMEPAGE
    ===================================================================*/
        
        .homepage .three .box-md .text h2 {
                font-size: 1.750em;
        }
        /* SUBPAGES
    ===================================================================*/
        /* RESOURCES
    ===================================================================*/
        
        #content .container article #matterContent .featured a img {
                float: left;
                margin: 0 15px 20px 0;
        }
        #content .container article #matterContent .featured h2 {
                clear: none;
        }
        #content .container article #additional {
                background: none;
        }
        #content .container article #additional .wrapper {
                padding: 0;
        }
        #content .container article #additional .wrapper nav {
                background: none;
                margin: 0;
        }
        #content .container article #additional .wrapper nav ul li {
                display: inline;
                text-align: center;
        }
        #content .container article #additional .wrapper nav ul li a {
                display: inline-block;
                width: 24%;
                margin: 0 1px 0 0;
                padding: 15px 14px 12px;
                font-size: 0.750em;
        }
        #content .container article #additional .wrapper .matterContent {
                padding: 30px 0;
                overflow: auto;
        }
        #content .container article #additional .wrapper .matterContent .content h4 {
                margin-top: 5px;
        }
        #content .container article #additional .wrapper .matterContent .viewAll {
                width: auto;
        }
        #articleContent .tip, #articleContent .fastFact {
                display: block;
        }
        #articleContent .right {
                float: right;
        }
        /* SIDEBAR
    ===================================================================*/
        /* FOOTER
    ===================================================================*/
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
@media (min-width: 700px) {
        /* Small devices - phones */
        /* BASE STYLES
    ===================================================================*/
        
        .container {
                width: 100%;
        }
        /* HEADER
    ===================================================================*/
        /* NAVIGATION
    ===================================================================*/
        /* HERO
    ===================================================================*/
        /* HOMEPAGE
    ===================================================================*/
        /* SUBPAGES
    ===================================================================*/
        
        .page-team #teamContent .principal .info {
                float: none;
                margin-bottom: 0;
        }
        .page-team #teamContent .principal .info h4, .page-team #teamContent .principal .info p, .page-team #teamContent .principal .team-description {
                margin-left: 220px;
        }
        .page-team #teamContent .agent .info {
                width: 300px;
                margin-bottom: 0;
        }
        .page-team #teamContent .agent .info h4, .page-team #teamContent .agent .info p {
                margin-left: 160px;
        }
        .page-team #teamContent .agent .team-description {
                margin-left: 320px;
        }
        /* RESOURCES
    ===================================================================*/
        
        #content .container article #suggested {
                margin: 0 -30px 60px;
        }
        .subpage #content .container article #suggested + .rule {
                display: none;
        }
        #content .container article #suggested h2 {
                float: left;
                margin-bottom: 20px;
                margin-left: 30px;
        }
        #content .container article #suggested .content {
                float: left;
                width: 33.333333333%;
                margin: 0;
                padding: 0 30px;
                overflow: hidden;
        }
        #content .container article #suggested .left {
                clear: left;
                margin: 0;
        }
        #content .container article #suggested .content a img {
                float: none;
                background-size: 190px 145px;
                width: 190px;
                height: 145px;
                margin: 0 0 10px 0;
        }
        #content .container article #suggested .content h3 {
                margin-bottom: 10px;
        }
        #content .container article #suggested .content h3 a {
                font-size: medium;
        }
        #content .container article #suggested .content p {
                margin: 0;
        }
        #content .container article #additional .wrapper .matterContent .content {
                float: left;
                width: 50%;
                padding-left: 30px;
        }
        #content .container article #additional .wrapper .matterContent .left {
                padding-left: 0;
                padding-right: 30px;
        }
        #content .container article #additional .wrapper .matterContent .content h4 {
                margin-bottom: 15px;
        }
        #content .container article #allVideoContent .videoContent a img {
                background-size: 190px 145px;
                width: 190px;
                height: 145px;
        }
        /* SIDEBAR
    ===================================================================*/
        
        #content .container aside .rule {
                display: none;
        }
        #content .container aside {
                overflow: hidden;
        }
        #content .container aside section {
                float: left;
                width: 50%;
        }
        #content .container aside .widget-0, #content .container aside .widget-2 {
                padding-right: 20px;
        }
        #content .container aside .widget-1 {
                padding-left: 20px;
        }
        #content .container aside .widget-2 {
                clear: left;
        }
        /* FOOTER
    ===================================================================*/
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
@media (min-width: 768px) {
        /* Small devices - tablets */
        /* BASE STYLES
    ===================================================================*/
        
        body {
                min-width: 750px;
        }
        .container {
                width: 100%;
        }
        /* HEADER
    ===================================================================*/
        /* NAVIGATION
    ===================================================================*/
        
        .off-canvas {
                width: 400px;
        }
        /* HERO
    ===================================================================*/
        
        #hero .hero {
                height: 480px;
        }
        #hero .container .wrapper h2 {
                font-size: 2em;
        }
        #hero .container .wrapper .short, #hero .container .wrapper h2 + hr + p {
                display: block;
        }
        .ie8 #hero .container .wrapper .short {
                display: none;
        }
        #hero .container .wrapper .short {
                background: $heroWrapperLineBgColor;
        }
        #hero .container .wrapper p {
                font-size: 1em;
                color: $heroWrapperPColor;
        }
        /* HOMEPAGE
    ===================================================================*/
        
        .homepage .two {
                margin-left: -10px;
                margin-right: -10px;
        }
        .homepage .two .col-xs-12 {
                padding-left: 10px;
                padding-right: 10px;
        }
        .homepage .two .box-sm {
                margin: 0;
        }
        .homepage .three .box-md .text h2 {
                font-size: 2em;
        }
        /* SUBPAGES
    ===================================================================*/
        
        .page-contact .map-canvas {
                float: right;
                width: 60%;
                margin: 0 0 0 30px;
        }
        .page-contact #content .container article table + a {
                display: inline-block;
                margin-bottom: 40px;
        }
        .page-contact #content .container article h2 {
                margin-top: 0;
        }
        /* RESOURCES
    ===================================================================*/
        
        #content .container article #allVideoContent {
                margin: 0 -30px;
        }
        #content .container article #allVideoContent .videoContent {
                float: left;
                width: 33.333333333%;
                margin: 0 0 20px 0;
                padding: 0 30px;
                overflow: hidden;
        }
        #content .container article #allVideoContent .left {
                margin: 0;
        }
        #content .container article #allVideoContent .videoContent a img {
                float: none;
                margin: 0 0 10px 0;
        }
        #content .container article #allVideoContent .videoContent h3, #content .container article #allVideoContent .videoContent p {
                margin-left: 0;
        }
        #content .container article #allVideoContent .videoContent p {
                margin-bottom: 15px;
        }
        #content .container article #presentationShell img {
                margin-left: 10px;
        }
        /* SIDEBAR
    ===================================================================*/
        /* FOOTER
    ===================================================================*/
        
        footer .container {
                text-align: left;
        }
        footer .container .note {
                float: left;
                width: 50%;
                margin: 0;
        }
        footer .container aside {
                float: right;
                width: 50%;
        }
        footer .container aside .wrapper {
                padding-left: 30px;
        }
        footer .container aside .wrapper .contact {
                width: 65%;
        }
        footer .container aside .wrapper .contact table {
                margin: 0 0 10px 0;
        }
        footer .container aside .wrapper .quickLinks {
                width: 35%;
                padding-left: 10px;
        }
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
@media (min-width: 992px) {
        /* Medium devices - desktops */
        /* BASE STYLES
    ===================================================================*/
        
        body {
                min-width: 970px;
        }
        .container {
                width: 970px;
        }
        #content .container {
                padding-left: 0;
                padding-right: 0;
        }
        #content .container article {
                margin-bottom: 0;
        }
        /* HEADER
    ===================================================================*/
        
        header .header-social {
                width: 40px;
                height: 120px;
                position: fixed;
                top: 250px;
                right: 0;
                z-index: 9999;
        }
        header .header-social a {
                margin: 0;
        }
        header {
                margin-top: 0;
        }
        header .container, .move-top-bar .container {
                padding-left: 0;
                padding-right: 0;
        }
        header .header-logo {
                margin: 0;
        }
        header .header-logo img {
                vertical-align: top;
        }
        header .header-social a {
                position: absolute;
                right: 0;
        }
        header .header-social .facebook {
                top: 0;
        }
        header .header-social .twitter {
                top: 40px;
        }
        header .header-social .linkedin {
                top: 80px;
        }
        header .header-social .facebook:hover, header .header-social .twitter:hover, header .header-social .linkedin:hover, header .header-social .facebook:active, header .header-social .twitter:active, header .header-social .linkedin:active, header .header-social .facebook:focus, header .header-social .twitter:focus, header .header-social .linkedin:focus {
                width: 50px;
        }
        /* NAVIGATION
    ===================================================================*/
        
        .navbar-fixed-top {
                position: relative;
        }
        nav#main .container ul li a + a {
                display: none;
        }
        nav#main {
                background: $navbarBgColor;
                width: 100%;
                margin: 0 auto;
        }
        nav#main .container {
                background: none;
                width: 970px;
                height: 100%;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
        }
        nav#main .container ul li {
                margin: 0 10px;
                padding: 0;
        }
        nav#main .container ul li.first {
                margin-left: 0;
        }
        nav#main .container ul li.last {
                margin-right: 0;
        }
        nav#main .container ul li a {
                display: inline-block;
                font-size: 1.100em;
                font-weight: $navbarLinkWeight;
                color: $navbarLinkColor;
                line-height: 1;
        }
        nav#main .container ul li:hover a, nav#main .container ul li a:active, nav#main .container ul li a:focus, nav#main .container ul li a.selected {
                background: none;
                text-decoration: none;
        }
        nav#main .container ul li a:before {
                content: '[';
                position: absolute;
                top: 0;
                left: 20px;
                opacity: 0;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -ms-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
        }
        nav#main .container ul li:hover a:before, nav#main .container ul li a.selected:before {
                left: 0;
                opacity: 1;
        }
        nav#main .container ul li a:after {
                content: ']';
                position: absolute;
                top: 0;
                right: 20px;
                opacity: 0;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -ms-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
        }
        nav#main .container ul li:hover a:after, nav#main .container ul li a.selected:after {
                right: 0;
                opacity: 1;
        }
        .ie8 nav#main .container ul li a:before, .ie8 nav#main .container ul li a:after {
                content: '';
        }
        nav#main .container ul li:hover .dropdown-menu {
                display: block;
                background: $dropdownBgColorDesktop;
                background: $dropdownBgColorRGBADesktop;
                width: 220px;
                text-align: left;
                border: none;
                top: 32px;
        }
        nav#main .container ul li:hover .dropdown-menu li {
                margin: 0;
                padding: 0;
        }
        nav#main .container ul li:hover .dropdown-menu li a {
                display: block;
                height: auto;
                margin: 0;
                padding: 15px !important;
                font-size: 1.000em;
                font-weight: $navbarLinkWeight;
                text-decoration: none;
                color: $navbarLinkColor;
                border: none;
        }
        nav#main .container ul .dropdown.open .dropdown-text {
                border-bottom: none;
        }
        .navbar {
                height: 50px !important;
                top: 0 !important;
                -webkit-transition: all 0s ease-out;
                -moz-transition: all 0s ease-out;
                -ms-transition: all 0s ease-out;
                -o-transition: all 0s ease-out;
                transition: all 0s ease-out;
        }
        .navbar .container {
                position: static;
        }
        .off-canvas {
                background: none;
                width: auto;
                height: auto;
                padding: 0;
                overflow: visible;
                position: static;
                -webkit-transition: all 0s ease-out;
                -moz-transition: all 0s ease-out;
                -ms-transition: all 0s ease-out;
                -o-transition: all 0s ease-out;
                transition: all 0s ease-out;
        }
        .off-canvas .navbar-nav {
                float: none;
                background: none;
                padding-top: 15px;
                overflow-x: visible;
        }
        .off-canvas .navbar-nav li {
                display: inline;
                float: none;
        }
        nav#main .off-canvas .navbar-nav li a {
                height: auto;
                padding: 0 15px 16px !important;
        }
        .off-canvas .navbar-nav .open .dropdown-menu {
                display: none;
        }
        nav#main .container ul li:hover .dropdown-menu li a:hover, nav#main .container ul li:hover .dropdown-menu li a:active, nav#main .container ul li:hover .dropdown-menu li a:focus, nav#main .container ul li:hover .dropdown-menu li a.selected {
                background: $navbarLinkBgColorHover;
                color: $navbarLinkColor;
        }
        nav#main .container ul li:hover .dropdown-menu li a:before, nav#main .container ul li:hover .dropdown-menu li a:after {
                content: '';
        }
        .navbar-header {
                height: 50px;
        }
        /* HERO
    ===================================================================*/
         
        #hero .container {
                width: 970px;
        }
        #hero .container .wrapper {
                width: 45%;
                padding: 20px;
                border-left: solid 20px $heroWrapperBorderLeftColor;
                bottom: 40px;
                left: 40px;
        }
        /* HOMEPAGE
    ===================================================================*/
        
        .homepage #content .container {
                padding-left: 40px;
                padding-right: 40px;
        }
        .homepage #content .container article {
                width: 100%;
        }
        .homepage #content .container aside {
                display: none;
        }
        // .homepage .one .welcome a:before {
        //         display: inline-block;
        //         content: '';
        //         background: $welcomeLinkBorderLeftColor;
        //         width: 0;
        //         height: 100%;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         -webkit-transition: all 0.2s ease-out;
        //         -moz-transition: all 0.2s ease-out;
        //         -ms-transition: all 0.2s ease-out;
        //         -o-transition: all 0.2s ease-out;
        //         transition: all 0.2s ease-out;
        // }
        // .homepage .one .welcome a:hover:before {
        //         width: 100%;
        // }
        .homepage .one .welcome a span {
                position: relative;
                z-index: 1;
        }
        .homepage .two .box-sm {
                height: 286px;
        }
        .homepage .two .box-sm a {
                position: absolute;
                bottom: 30px;
        }
        .homepage .two .box-sm a:before {
                display: inline-block;
                content: '';
                background: $boxSmallLinkBorderLeftColor;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -ms-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
        }
        .homepage .two .box-sm a:hover:before {
                width: 100%;
        }
        .homepage .two .box-sm a span {
                position: relative;
                z-index: 1;
        }
        .homepage .three .box-md img, .homepage .three .box-md .text {
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
        }
        .homepage .three .box-md img {
                opacity: 0.8;
        }
        .homepage .three .box-md:hover img {
                opacity: 0.1;
                -webkit-transform: scale(1.05, 1.05);
                -moz-transform: scale(1.05, 1.05);
                -ms-transform: scale(1.05, 1.05);
                -o-transform: scale(1.05, 1.05);
                transform: scale(1.05, 1.05);
        }
        .homepage .three .box-md .text h2:after {
                background: $boxMediumH2LineBgColor;
                content: '';
                width: 0;
                height: 2px;
                margin-left: -150px;
                position: absolute;
                top: 50px;
                left: 50%;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -ms-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
        }
        .homepage .three .box-md:hover .text h2:after {
                width: 300px;
        }
        /* SUBPAGES
    ===================================================================*/
        
        .subpage #content .container {
                padding-left: 40px;
                padding-right: 40px;
        }
        .subpage #content .container article, .subpage #content .container aside {
                width: 100%;
        }
        /* RESOURCES
    ===================================================================*/
        
        #content .container article #additional .wrapper nav ul li a {
                font-size: 1em;
        }
        #content .container article #allTypeContent .matter {
                width: 50%;
                padding-left: 40px;
        }
        #content .container article #allTypeContent .left {
                padding-left: 0;
        }
        /* SIDEBAR
    ===================================================================*/
        
        #content .container aside section {
                width: 270px;
                margin-right: 40px;
                padding: 0 !important;
        }
        #content .container aside .widget-2 {
                clear: none;
                margin-right: 0;
        }
        /* FOOTER
    ===================================================================*/
        
        footer {
                background: $footerBgColorDesktop;
        }
        footer .container {
                background: $footerContainerBgColorDesktop;
                margin: 0 auto 40px;
                padding: 0 40px 16px;
        }
        footer .container .note {
                background: $footerNoteAsideBgColor;
                width: 50%;
                height: auto;
                padding: 30px 0 30px 30px;
        }
        footer .container aside {
                background: $footerNoteAsideBgColor;
                width: 50%;
                height: 350px;
                padding: 30px 30px 30px 0;
        }
        footer .container aside .wrapper {
                padding-left: 50px;
        }
        footer .container aside .wrapper .contact {
                width: 65%;
        }
        footer .container aside .wrapper .quickLinks {
                width: 35%;
                padding-left: 0;
        }
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
@media (min-width: 1200px) {
        /* Large devices - large desktops */
        /* BASE STYLES
    ===================================================================*/
        
        body {
                min-width: 1170px;
        }
        .container {
                width: 1170px;
        }
        /* HEADER
    ===================================================================*/
        /* NAVIGATION
    ===================================================================*/
        
        nav#main .container {
                width: 1170px;
        }
        nav#main .container ul li {
                margin: 0 25px;
        }
        /* HERO
    ===================================================================*/
        
        #hero .container {
                width: 1170px;
        }
        /* HOMEPAGE
    ===================================================================*/
        
        .homepage .two .box-sm {
                height: 250px;
        }
        /* SUBPAGES
    ===================================================================*/
        
        .page-contact .map-canvas {
                width: 70%;
        }
        /* RESOURCES
    ===================================================================*/
        
        #content .container article #suggested .content a img, #content .container article #allVideoContent .videoContent a img {
                background-size: 250px 191px;
                width: 250px;
                height: 191px;
        }
        /* SIDEBAR
    ===================================================================*/
        
        #content .container aside section {
                width: 330px;
                margin-right: 50px;
                padding: 0 !important;
        }
        #content .container aside .widget-2 {
                clear: none;
                margin-right: 0;
        }
        /* FOOTER
    ===================================================================*/
        
        footer .container .note {
                width: 60%;
        }
        footer .container aside {
                width: 40%;
        }
        /* CUSTOMIZED PAGES
    ===================================================================*/
}
