//// FONTS

// headings
$headingFont: 'Droid Serif', serif;

// body
$bodyFont: 'Lato', sans-serif;


//// BACK TO TOP

// for older browsers
$backToTopBgColor: #cfaf69;

// transparency
$backToTopBgColorRGBA: rgba(207, 175, 105, 0.75);

// arrow
$backToTopArrowColor: #fff;


//// BASE

// body background
$bodyBgColor: #231f20;

// p, li, div, td, section
$pColor: #71747A;

// link
$aColor: #000;
$aColorHover: #c39a42;

// h1 - h6
$headingColor: #c39a42;
$headingWeight: 400;
$headingTextTransform: none;

// h1 - h6 link
$headingAColor: #000;
$headingAHoverColor: #c39a42;
$headingAWeight: 700;
$headingATextTransform: none;

// #content background
$contentBgColor: #D7DAE0;

// #content .container background
$contentContainerBgColor: #fff;

// default article and aside .rule
$contentRule: #F1F4FA;


//// HEADER

$headerBgColor: #fff;

// social media buttons
$headerSocialAColor: #fff;
$facebookBgColor: #00549E;
$twitterBgColor: #2CAAE1;
$linkedinBgColor: #007FB1;


//// NAVIGATION

$navbarBgColor: #231f20;

// menu toggle
$navbarToggleBgColor: #3c2313;
$navbarToggleHamburgerBgColor: #fff;
$navbarToggleText: #fff;
$navbarToggleTextTransform: uppercase;

// parent links
$navbarLinkColor: #fff;
$navbarLinkBgColorHover:  #c39a42;
$navbarLinkWeight: 700;
$navbarLinkTransform: uppercase;

// open parent link border-bottom
$navbarLinkBorderBottom: transparent;//#1B573E;

// off-canvas menu
// for older browsers
$offcanvasBgColor: #3c2313;

// transparency
$offcanvasBgColorRGBA: rgba(60, 35, 19, 0.95);

// dropdowns within off-canvas
// for older browsers
$dropdownBgColor: #6F5646;

// transparency
$dropdownBgColorRGBA: rgba(111, 86, 70, 0.5);

$dropdownLinkTransform: none;

// desktop
// for older browsers
$dropdownBgColorDesktop: #67A38A;

// transparency
$dropdownBgColorRGBADesktop: rgba(60, 35, 19, 0.95);


//// HERO

$heroBgColor: #d7dae0;

// wrapper
// for older browsers
$heroWrapperBgColor: #3c2313;

// transparency
$heroWrapperBgColorRGBA: rgba(60, 35, 19, 0.7);

$heroWrapperBorderLeftColor: #6F5646;

$heroWrapperH2Color: #fff;
$heroWrapperH2Weight: 300;
$heroWrapperH2Transform: none;
$heroWrapperLineBgColor: #fff;
$heroWrapperPColor: #fff;
$heroWrapperLinkColor: #fff;
$heroWrapperLinkWeight: 700;
$heroWrapperLinkTransform: uppercase;


//// HOMEPAGE

$shortBgColor: #71747A;

// welcome blurb
$welcomeBgColor: #F1F4FA;
$welcomeLinkBgColor: #b1b4ba;
$welcomeLinkColor: #fff;
$welcomeLinkWeight: 700;
$welcomeLinkTransform: uppercase;
$welcomeLinkBorderLeftColor: #71747A;

// 3 call-outs
$boxSmallBgColor: #c39a42;
$boxSmallTextColor: #fff;
$boxSmallLinkBgColor: #c39a42;
$boxSmallLinkWeight: 700;
$boxSmallLinkTransform: uppercase;
$boxSmallLinkBorderLeftColor: #c39a42;

// 4 link boxes
$boxMediumBgColor: #c39a42;
$boxMediumTextColor: #fff;
$boxMediumH2Weight: 700;
$boxMediumH2Transform: uppercase;

// desktop
$boxMediumH2LineBgColor: #fff;


//// SUBPAGES

// glossary h3 a
$glossaryH3LinkWeight: 400;
$glossaryH3LinkTransform: none;


//// RESOURCES

$additionalParentTabBgColor: #c39a42;
$additionalParentTabColor: #fff;
$additionalParentTabWeight: 700;
$additionalParentTabTransform: uppercase;
$flagBodyBgColor: #c39a42;


//// SIDEBAR, WIDGETS

$submitBgColor: #c39a42;
$submitColor: #fff;
$submitTransform: uppercase;


//// FOOTER

$footerBgColor: #F1F4FA;
$footerTextTransform: none;
$footerH4Weight: 400;
$footerH4Transform: none;

// desktop
$footerBgColorDesktop: #d7dae0;
$footerContainerBgColorDesktop: #fff;
$footerNoteAsideBgColor: #f1f4fa;