<div class="row one">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="welcome">
            <h2>Understanding Today's Financial Environment</h2>
            <hr class="short" />
            <p>Welcome, I’m (your name), a financial organization in (your city and state). We understand that individuals face unique challenges as they prepare for retirement.We can help take the mystery out of preparing for today and tomorrow. Whether your goal is preparing for retirement, college savings, or estate strategy, our personalized service focuses on your needs, wants, and financial goals and objectives.</p>
            <p class="last">Our professionals have years of experience in financial services. We can help you address your needs of today and for many years to come. We look forward to working with you through all stages of your life.</p><a href="#" target="_self"><span>Contact Us</span></a>
        </div>
    </div>
</div>
<div class="row two">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box-sm left">
            <h2>Serving Individuals</h2>
            <p>We can help take some of the mystery out of preparing for your financial future.</p><a href="#" target="_self"><span>Learn More</span></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box-sm center">
            <h2>Business Planning</h2>
            <p>Special insight and perspective to help business owners pursue their objectives and success.</p><a href="#" target="_self"><span>Learn More</span></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box-sm right">
            <h2>Investing Strategy</h2>
            <p>Let us provide you with guidance that can help you understand and better define your financial goals.</p><a href="#" target="_self"><span>Learn More</span></a>
        </div>
    </div>
</div>
<div class="row three">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="box-md left"><img alt="" class="img-responsive" src="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/images/homepage-linkboxes01.jpg" />
            <div class="text">
                <h2>About Us</h2><a href="#" target="_self">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="box-md right"><img alt="" class="img-responsive" src="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/images/homepage-linkboxes02.jpg" />
            <div class="text">
                <h2>Retirement</h2><a href="#" target="_self">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="box-md left"><img alt="" class="img-responsive" src="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/images/homepage-linkboxes03.jpg" />
            <div class="text">
                <h2>Investment</h2><a href="#" target="_self">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="box-md right"><img alt="" class="img-responsive" src="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/images/homepage-linkboxes04.jpg" />
            <div class="text">
                <h2>Videos</h2><a href="#" target="_self">Learn More</a>
            </div>
        </div>
    </div>
</div>
