<meta name="viewport" content="initial-scale=1.0" />
<!-- fontawesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- bootstrap -->
<link rel="stylesheet" href="http://fmg-websites-custom.s3.amazonaws.com/fmg-base/fmg-base-grid/bootstrap.css" media="all" />
<script type="text/javascript" src="http://fmg-websites-custom.s3.amazonaws.com/fmg-base/fmg-base-js/bootstrap.js"></script>
<!-- google fonts -->
<script type="text/javascript">
WebFontConfig = {
        google: {
                families: ['Droid+Serif::latin']
        }
};
(function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
})();
</script>
<script type="text/javascript">
WebFontConfig = {
        google: {
                families: ['Lato:400,700:latin']
        }
};
(function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
})();
</script>
<!-- insert styles here -->
<link rel="stylesheet" type="text/css" href="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/css/342240-hines.css" />
<style type="text/css">
  @import url(http://static.contentres.com/site/templates/global/css/assets-articles.css) (min-width: 600px);
</style>
<!-- insert scripts here -->
<script type="text/javascript" src="http://fmg-websites-custom.s3.amazonaws.com/fmg-base/fmg-base-js/fmg-base-template-offcanvas.js"></script>
<script type="text/javascript" src="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/js/342240-hines.js"></script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="/scripts/bootstrap/html5shiv.js"></script>
  <script type="text/javascript" src="/scripts/bootstrap/respond.js"></script>
  <link href="http://fmg-websites-custom.s3.amazonaws.com/fmg-base/respond-proxy/respond-proxy.html" id="respond_proxy" rel="respond_proxy" />
  <link href="/scripts/bootstrap/respond.proxy.gif" id="respond_redirect" rel="respond_redirect" />
  <script type="text/javascript" src="http://fmg-websites-custom.s3.amazonaws.com/fmg-base/respond-proxy/respond.proxy.js"></script>
<![endif]-->
