<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="header-logo">
            <a class="home" href="$RootLocation$" target="_self">
                <img src="http://fmg-websites-custom.s3.amazonaws.com/342240-hines/images/logo.png" alt="Hines Wealth Management, LLC - Charleston, SC" />
            </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="header-social">&nbsp;</div>
    </div>

</div>
